Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

more S/O consistency
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/transit/core.py
Owners: @groudier

atomlist still needs to go in myxsecs
  excalibur/cerberus/core.py
Owners: @groudier

remove more lshift,lbroad stuff
  excalibur/cerberus/forward_model.py
  excalibur/runtime/autogen.md5
Owners: @groudier, @nasa-jpl-exoplanet/internal

new way of making a cert
  tools/make_cert.sh
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#360)
  .docker/.env
  requirements.txt
  tools/make_cert.sh
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

transit.norm_jwst modifications
  excalibur/transit/core.py
Owners: @groudier

typos correction
  excalibur/transit/core.py
Owners: @groudier

teagrid modification
  excalibur/cerberus/teagrid.py
Owners: @groudier

forgot style
  excalibur/cerberus/teagrid.py
Owners: @groudier

changes for pylint
  excalibur/cerberus/teagrid.py
Owners: @groudier

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

remove pressure/mmw from absorb() calls
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

switch cerberus.analysis from TEC to TEA
  excalibur/cerberus/core.py
Owners: @groudier

noting PH3 still missing from TEA
  excalibur/cerberus/teagrid.py
Owners: @groudier

lint
  excalibur/cerberus/core.py
Owners: @groudier

Update compose.yaml
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#365)
  .docker/.env
  .docker/compose.yaml
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

bit of cleaning
  excalibur/cerberus/teagrid.py
Owners: @groudier

constant TEA grid maker (from PR#364)
  excalibur/cerberus/teagrid.py
Owners: @groudier

Update make_cert.sh
  tools/make_cert.sh
Owners: @nasa-jpl-exoplanet/admin

Runtime param update (#359)
  excalibur/ariel/algorithms.py
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
  excalibur/cerberus/teagrid.py
  excalibur/gemli/algorithms.py
  excalibur/gemli/core.py
  excalibur/hwo/algorithms.py
  excalibur/hwo/core.py
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
  excalibur/selftest/algorithms.py
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Update make_cert.sh (#366)
  tools/make_cert.sh
Owners: @nasa-jpl-exoplanet/admin

modifs for push
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

missing fitStoO in cerb.atmos
  excalibur/cerberus/algorithms.py
Owners: @groudier

corrections
  excalibur/transit/core.py
Owners: @groudier

typo
  excalibur/cerberus/bounds.py
Owners: @groudier

Change else to elif for verbose condition
  excalibur/transit/core.py
Owners: @groudier

Ccoco params
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

transit.norm_jwst modifications (#362)
  excalibur/system/overwriter.py
  excalibur/transit/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Coup de genie blind
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
Owners: @groudier

Je n etonnes moi meme
  excalibur/cerberus/core.py
Owners: @groudier

Runtime param update (#369)
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/bounds.py
Owners: @groudier

Cerberus XSlib
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
Owners: @groudier

XSLIB
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
Owners: @groudier

store TEAgrid under a subdirectory modelName
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

TEAgrid with modelName, species save, permissions set, etc
  excalibur/cerberus/teagrid.py
Owners: @groudier

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
