Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

Oopsie
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
Owners: @groudier

DaStYlE
  excalibur/transit/core.py
Owners: @groudier

lint
  excalibur/ariel/plotters.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/gemli/core.py
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

remove duplicate code for get_mmw
  excalibur/hwo/core.py
Owners: @nasa-jpl-exoplanet/internal

typo
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal

some typos in atomic library names
  excalibur/cerberus/core.py
Owners: @groudier

lint
  excalibur/hwo/core.py
Owners: @nasa-jpl-exoplanet/internal

327 whitelight view (#328)
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
  excalibur/transit/states.py
Owners: @groudier

ctxtupdt is expecting runtime params
  excalibur/cerberus/core.py
Owners: @groudier

actually, remove all that Tparam context. use T instead
  excalibur/ariel/forward_models.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

use 6 params for T (non-isothermal case)
  excalibur/cerberus/bounds.py
Owners: @groudier

lint
  excalibur/ariel/forward_models.py
  excalibur/cerberus/bounds.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

clean out Tparam junk
  excalibur/ariel/forward_models.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/hwo/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

arviz bug
  excalibur/transit/states.py
Owners: @groudier

Lint
  excalibur/transit/states.py
Owners: @groudier

arviz bug (#331)
  excalibur/transit/states.py
Owners: @groudier

bin option
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
Owners: @groudier

DaLint
  excalibur/transit/core.py
Owners: @groudier

move the import to where it would be used
  excalibur/runtime/__main__.py
Owners: @nasa-jpl-exoplanet/internal

bin option (#333)
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
Owners: @groudier

debug Tparam bestparams for cerb.results
  excalibur/ariel/core.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

show best-fit result in TPprofile
  excalibur/cerberus/plotters.py
Owners: @groudier

remove print
  excalibur/cerberus/plotters.py
Owners: @groudier

lint
  excalibur/cerberus/core.py
  excalibur/cerberus/plotters.py
Owners: @groudier

Arielsim testing (#319)
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/ariel/plotters.py
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
  excalibur/gemli/core.py
  excalibur/hwo/core.py
  excalibur/runtime/__main__.py
  excalibur/system/core.py
  excalibur/system/overwriter.py
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

bntst=10
  excalibur/transit/algorithms.py
Owners: @groudier

bntst=10 (#337)
  excalibur/transit/algorithms.py
Owners: @groudier

debug flag for main-only err
  excalibur/cerberus/plotters.py
Owners: @groudier

make sure cerb and hwo can handle empty Tparams
  excalibur/ariel/forward_models.py
  excalibur/hwo/core.py
Owners: @nasa-jpl-exoplanet/internal

Speed up MCMC
  excalibur/transit/core.py
Owners: @groudier

spectrum view
  excalibur/transit/states.py
Owners: @groudier

crash checking for gemli prob
  excalibur/cerberus/plotters.py
Owners: @groudier

DaStYlE
  excalibur/transit/states.py
Owners: @groudier

lint
  excalibur/cerberus/plotters.py
Owners: @groudier

Oops
  excalibur/transit/states.py
Owners: @groudier

Update states.py
  excalibur/transit/states.py
Owners: @groudier

lint+
  excalibur/cerberus/plotters.py
Owners: @groudier

modif cerberus forward model
  excalibur/cerberus/forward_model.py
  excalibur/util/cerberus.py
  excalibur/util/tea_code/makeheader.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

modif cerberus forward model_v2
  excalibur/cerberus/forward_model.py
  excalibur/util/cerberus.py
  excalibur/util/tea_code/makeheader.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

Transit Spectrum Plots and speed up (#339)
  excalibur/transit/core.py
  excalibur/transit/states.py
Owners: @groudier

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
