Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

Atmos update after conflicts
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/teagrid.py
  excalibur/util/tensor.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

Update
  excalibur/cerberus/core.py
Owners: @groudier

StYlE
  excalibur/cerberus/core.py
Owners: @groudier

Saving Chains
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/util/tensor.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

comment added
  excalibur/ariel/core.py
  excalibur/runtime/algorithms.py.testing
  excalibur/runtime/core.py
Owners: @nasa-jpl-exoplanet/internal

S/O truth label in corner plot
  excalibur/cerberus/plotters.py
Owners: @groudier

debuggin statements
  excalibur/cerberus/forward_model.py
Owners: @groudier

backwards logic error in fitX runtime params
  excalibur/cerberus/core.py
Owners: @groudier

lint
  excalibur/cerberus/core.py
Owners: @groudier

Style
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/util/tensor.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

Lint
  excalibur/cerberus/core.py
Owners: @groudier

373 atmos call for jwst (#377)
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/teagrid.py
  excalibur/util/tensor.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

rm junk
  excalibur/runtime/algorithms.py.testing
Owners: @nasa-jpl-exoplanet/internal

diff cert name and port number
  tools/pp_reset.sh
Owners: @nasa-jpl-exoplanet/admin

etc cleanup (#379)
  excalibur/ariel/core.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
  excalibur/runtime/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

turn off the line broadening cutoff
  excalibur/cerberus/atom_xsec.py
Owners: @groudier

save crossection plots; calculate atom crosssections
  excalibur/cerberus/core.py
Owners: @groudier

mostly lint
  excalibur/cerberus/core.py
Owners: @groudier

plot atom xsec vsT and vsP
  excalibur/cerberus/core.py
Owners: @groudier

add ozone UV Xsec by hand
  excalibur/cerberus/forward_model.py
Owners: @groudier

cleaned up atom-xsec
  excalibur/cerberus/core.py
Owners: @groudier

lint
  excalibur/cerberus/core.py
Owners: @groudier

add atomic weights for new atoms/molecules
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

remove ctxtinit
  excalibur/util/tensor.py
Owners: @nasa-jpl-exoplanet/internal

add ctxtinit back in; otherwise undef ctxt
  excalibur/util/tensor.py
Owners: @nasa-jpl-exoplanet/internal

remove cerb ctxtupdt(); dctxupdt() instead
  excalibur/cerberus/fmcontext.py
Owners: @groudier

use runtime to fill blank ctxt
  excalibur/cerberus/forward_model.py
Owners: @groudier

special case for MgO capitalization
  excalibur/cerberus/teagrid.py
Owners: @groudier

use dctxupdt instead of ctxtupdt for cerb.atmos (ariel-sim case)
  excalibur/cerberus/core.py
Owners: @groudier

clean dctx; combine cloud/non-cloud calls
  excalibur/cerberus/core.py
Owners: @groudier

lint
  excalibur/cerberus/forward_model.py
Owners: @groudier

show xslib plots saved as SVs
  excalibur/cerberus/states.py
Owners: @groudier

stupid. (unused variable issue)
  excalibur/cerberus/core.py
Owners: @groudier

lint
  excalibur/cerberus/teagrid.py
Owners: @groudier

lint
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

clean
  excalibur/cerberus/states.py
  excalibur/cerberus/teagrid.py
Owners: @groudier

oof same bug again
  excalibur/cerberus/core.py
Owners: @groudier

make slow-TEA molecule list same as in fast grid (no TiO)
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

fix EPIC 212624936
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

pass in TEAgrid for some ariel models
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
Owners: @nasa-jpl-exoplanet/internal
