Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

small change in error handling for timeouts
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

better naming to distinguish mass from mass
  excalibur/util/logg.py
Owners: @nasa-jpl-exoplanet/internal

remove duplicate line in spreadsheet writer
  excalibur/system/core.py
Owners: @nasa-jpl-exoplanet/internal

My env
  envs/groudier
  tools/post2shelve.sh
Owners: @nasa-jpl-exoplanet/internal, @nasa-jpl-exoplanet/admin

add a bunch of Viktors starspot code
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
  excalibur/transit/spotmodel/Planeta.py
  excalibur/transit/spotmodel/eclipse_nv1.py
  excalibur/transit/spotmodel/keplerAux.py
  excalibur/transit/spotmodel/main.py
  excalibur/transit/spotmodel/star.py
  excalibur/transit/spotmodel/verify.py
  excalibur/transit/starspots.py
Owners: @groudier

check if vignore info exists before adding it as plot label
  excalibur/ancillary/estimators.py
  excalibur/phasecurve/states.py
  excalibur/transit/states.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

change __name to name() for new ExcaliburSV class
  excalibur/phasecurve/states.py
Owners: @nasa-jpl-exoplanet/internal

change __name to name() for new ExcaliburSV class
  excalibur/phasecurve/states.py
  excalibur/transit/states.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

putting my environment where it should go
  envs/bryden
Owners: @nasa-jpl-exoplanet/internal

rename main.py as spotmodel.py
  excalibur/transit/spotmodel/spotmodel.py
  excalibur/transit/starspots.py
Owners: @groudier

dont save starspot results as a file
  excalibur/transit/spotmodel/spotmodel.py
Owners: @groudier

autoformatting
  excalibur/transit/starspots.py
  excalibur/transit/states.py
Owners: @groudier

missing parenthesis
  excalibur/transit/spotmodel/spotmodel.py
Owners: @groudier

strange naming problem with spotmodel.spotmodel
  excalibur/transit/spotmodel/Spotmodel.py
  excalibur/transit/starspots.py
Owners: @groudier

remove unused import
  excalibur/transit/spotmodel/Spotmodel.py
Owners: @groudier

autoformat
  excalibur/phasecurve/states.py
Owners: @nasa-jpl-exoplanet/internal

include starspot results as saved SV
  excalibur/transit/starspots.py
Owners: @groudier

change num_elements to num_wavelengths
  excalibur/transit/spotmodel/Spotmodel.py
Owners: @groudier

passing model results within the SpotModel class
  excalibur/transit/spotmodel/Spotmodel.py
  excalibur/transit/starspots.py
Owners: @groudier

autoformatting
  excalibur/transit/spotmodel/Spotmodel.py
  excalibur/transit/starspots.py
Owners: @groudier

clean up param passing a little
  excalibur/transit/spotmodel/Spotmodel.py
  excalibur/transit/starspots.py
Owners: @groudier

add project name
  .docker/.env
  .docker/compose.yaml
  tools/post2shelve.sh
  tools/pp_exec.sh
  tools/pp_start.sh
  tools/pp_stop.sh
Owners: @nasa-jpl-exoplanet/admin

update to support multiple me
  envs/alsMT
Owners: @nasa-jpl-exoplanet/internal

19: add project name to allow more than one pipeline per host (#21)
  .docker/.env
  .docker/compose.yaml
  envs/alsMT
  tools/post2shelve.sh
  tools/pp_exec.sh
  tools/pp_start.sh
  tools/pp_stop.sh
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

temp delete
  excalibur/transit/spotmodel/Spotmodel.py
  excalibur/transit/starspots.py
Owners: @groudier

fix ops logging problem
  .docker/Dockerfile.server
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

update version
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

add back in after merge problem
  excalibur/transit/spotmodel/Spotmodel.py
  excalibur/transit/starspots.py
Owners: @groudier

20: workers not fully connecting to ops pipeline (#22)
  .docker/.env
  .docker/Dockerfile.server
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

cleaning up plot calling still
  excalibur/transit/spotmodel/Spotmodel.py
  excalibur/transit/starspots.py
Owners: @groudier

more starspot plot edits
  excalibur/transit/spotmodel/Spotmodel.py
  excalibur/transit/spotmodel/plotters.py
  excalibur/transit/starspots.py
Owners: @groudier

update ff/tspot loop to new 3-d array format
  excalibur/transit/spotmodel/plotters.py
Owners: @groudier

removing debugging print statements
  excalibur/transit/spotmodel/Spotmodel.py
  excalibur/transit/spotmodel/plotters.py
Owners: @groudier

removing debugging print statements
  excalibur/transit/starspots.py
Owners: @groudier

style fixes
  excalibur/transit/spotmodel/Spotmodel.py
  excalibur/transit/starspots.py
Owners: @groudier

result_type (spot,faculae) isnt used anymore, now that prints removed
  excalibur/transit/starspots.py
Owners: @groudier

style edit
  excalibur/transit/starspots.py
Owners: @groudier

go back to uniform labelling for pylint disables
  excalibur/ancillary/estimators.py
Owners: @nasa-jpl-exoplanet/internal

verify that each task runs after the big changes (#16)
  README.md
  envs/bryden
  excalibur/README.md
  excalibur/phasecurve/states.py
  excalibur/system/core.py
  excalibur/target/algorithms.py
  excalibur/target/core.py
  excalibur/target/mast_api_utils.py
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
  excalibur/transit/spotmodel/Planeta.py
  excalibur/transit/spotmodel/Spotmodel.py
  excalibur/transit/spotmodel/eclipse_nv1.py
  excalibur/transit/spotmodel/keplerAux.py
  excalibur/transit/spotmodel/plotters.py
  excalibur/transit/spotmodel/star.py
  excalibur/transit/spotmodel/verify.py
  excalibur/transit/starspots.py
  excalibur/transit/states.py
  excalibur/util/logg.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Rebased with main
  .docker/.env
  .docker/compose.yaml
  envs/alsMT
  tools/post2shelve.sh
  tools/pp_exec.sh
  tools/pp_start.sh
  tools/pp_stop.sh
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
