Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

revert teagrid to standard cubic interp
  excalibur/cerberus/teagrid.py
Owners: @groudier

commit runtime objects to values (transit whitelight)
  excalibur/transit/algorithms.py
Owners: @groudier

include TEAgrid in HWO call
  excalibur/hwo/core.py
Owners: @nasa-jpl-exoplanet/internal

tea grid interp is in dex (dont raise 10^x)
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

interpolate TEA on log(P)
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/teagrid.py
Owners: @groudier

lint
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

derive Mstar from RHO,R, if blank
  excalibur/system/autofill.py
  excalibur/system/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/system/autofill.py
Owners: @nasa-jpl-exoplanet/internal

Atomic cross-sections; xslib plots (#382)
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/states.py
  excalibur/cerberus/teagrid.py
  excalibur/hwo/core.py
  excalibur/system/autofill.py
  excalibur/system/core.py
  excalibur/system/overwriter.py
  excalibur/transit/algorithms.py
  excalibur/util/cerberus.py
  tools/pp_reset.sh
Owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

target create
  excalibur/target/core.py
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

Atomic cross-sections; xslib plots (#382)
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/states.py
  excalibur/cerberus/teagrid.py
  excalibur/hwo/core.py
  excalibur/system/autofill.py
  excalibur/system/core.py
  excalibur/system/overwriter.py
  excalibur/transit/algorithms.py
  excalibur/util/cerberus.py
  tools/pp_reset.sh
Owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

target create (#383)
  excalibur/target/core.py
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

kick Kepler-1658
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

data set mockup with baseline traning model
  datasets/abundance_ranker_dataset.json
  datasets/abundance_ranker_dataset.npz
  datasets/abundance_ranker_metrics.json
  datasets/abundance_ranker_topk.json
  datasets/abundance_ranker_visual_validation.png
  datasets/h2o_co2_synthetic_spectra.npz
  excalibur/cerberus/forward_model.py
  notebooks/cerberus.atmos.forwardmodel.ipynb
  tools/generate_h2o_co2_dataset.py
  tools/train_abundance_ranker.py
Owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

Kepler-13 needs Archive alias (KOI-13)
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

cerb.results fitCloudprop split to fitCTP/fithaze
  excalibur/cerberus/core.py
Owners: @groudier

add 38 new planets
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

runtime update
  excalibur/gemli/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

runtime update mistake
  excalibur/cerberus/core.py
Owners: @groudier

disconnect gemli
  excalibur/gemli/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

less logging output
  excalibur/cerberus/forward_model.py
Owners: @groudier

testing why cerb.analysis crashing
  excalibur/cerberus/core.py
Owners: @groudier

plot more robust for NaNs
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

show truth values and truth-fit difference chi
  excalibur/cerberus/plotters.py
Owners: @groudier

NaN trouble for a few ariel spectra
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
Owners: @groudier

lint
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/ariel/plotters.py
  excalibur/cerberus/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

lint
  excalibur/gemli/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

remove armen call shortcut env
  excalibur/phasecurve/__main__.py
  tools/pp_exec.sh
Owners: @nasa-jpl-exoplanet/internal, @nasa-jpl-exoplanet/admin

clean a bit
  .gitignore
  excalibur/phasecurve/__main__.py
  tools/pp_exec.sh
Owners: @nasa-jpl-exoplanet/internal, @nasa-jpl-exoplanet/admin

lint
  excalibur/phasecurve/__main__.py
  excalibur/phasecurve/flare_det.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/algorithms.py
  excalibur/phasecurve/flare_det.py
  excalibur/phasecurve/flare_det_utils.py
  excalibur/phasecurve/states.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/flare_det.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/core.py
  excalibur/phasecurve/flare_det.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/flare_det.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/__init__.py
Owners: @nasa-jpl-exoplanet/internal

fix tensor setup
  excalibur/__init__.py
  excalibur/phasecurve/algorithms.py
  excalibur/phasecurve/flare_det.py
  excalibur/phasecurve/flare_det_utils.py
  excalibur/phasecurve/states.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/__main__.py
Owners: @nasa-jpl-exoplanet/internal
