Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

Uncal JWST
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

Adding original errmastq in the log
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

Style
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

170: target.scape network failures (#171)
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

message
  excalibur/cerberus/forward_model_2d.py
Owners: @groudier

JWST update
  excalibur/data/core.py
  excalibur/util/nerdclub.py
Owners: @nasa-jpl-exoplanet/internal

Fixed verbose mode in Cerberus
  excalibur/cerberus/forward_model.py
Owners: @groudier

Fix to Cerberus verbose
  excalibur/cerberus/forward_model.py
Owners: @groudier

add new jwst targets to targetlist
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

more G141 list cleaning
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

include Vmag,Zmag in non-mandatory param list
  excalibur/system/core.py
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

remove WD 1856+534 from tier-2 Ariel list
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

load in Vmag,Zmag from exoplanet archive
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

reformat
  excalibur/system/core.py
Owners: @nasa-jpl-exoplanet/internal

turn off limit checking verbosity
  excalibur/system/core.py
Owners: @nasa-jpl-exoplanet/internal

update targetlist (#174)
  excalibur/system/core.py
  excalibur/target/core.py
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

170: target.scape network failures (#171)
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

Issue 166: update viewing metric information (#169)
  excalibur/console/__init__.py
  excalibur/console/algorithms.py
  excalibur/console/bot.py
  excalibur/console/states.py
  excalibur/metrics/algorithms.py
  excalibur/metrics/states.py
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

Scores in JWST
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

update targetlist (#174)
  excalibur/system/core.py
  excalibur/target/core.py
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

CIs
  excalibur/data/core.py
  excalibur/data/states.py
  excalibur/util/nerdclub.py
Owners: @nasa-jpl-exoplanet/internal

add 3 molecules to the EXOMOL line list directory
  excalibur/runtime/levers.xsd
Owners: @nasa-jpl-exoplanet/internal

Commenting test lines
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

autogen and binding creation
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
Owners: @nasa-jpl-exoplanet/internal

xmollists used by luke
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

CIs
  excalibur/data/core.py
  excalibur/data/states.py
  excalibur/util/nerdclub.py
Owners: @nasa-jpl-exoplanet/internal

Cis
  excalibur/data/core.py
  excalibur/util/nerdclub.py
Owners: @nasa-jpl-exoplanet/internal

putting calcTEA() back into util/cerberus.py
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

autoformatting
  excalibur/cerberus/forward_model.py
Owners: @groudier

complex is not part of numpy it seems
  excalibur/util/time.py
Owners: @nasa-jpl-exoplanet/internal

remove dot files
  excalibur/util/tea_code/tea_files/gdata/.ipynb_checkpoints/(AlBr3)2_g-checkpoint.txt
  excalibur/util/tea_code/tea_files/gdata/.ipynb_checkpoints/HDO_g-checkpoint.txt
  excalibur/util/tea_code/tea_files/gdata/.ipynb_checkpoints/O2_ref-checkpoint.txt
  excalibur/util/tea_code/tea_files/gdata/.ipynb_checkpoints/Ti_g-checkpoint.txt
  excalibur/util/tea_code/tea_files/gdata/.ipynb_checkpoints/Ti_ref-checkpoint.txt
Owners: @nasa-jpl-exoplanet/internal

first attempt as multiprocessing removal
  excalibur/util/tea_code/python_runatm.py
Owners: @nasa-jpl-exoplanet/internal

change tea_code location to util
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

import Path
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

formatting
  excalibur/util/tea_code/python_makeatm.py
Owners: @nasa-jpl-exoplanet/internal

temp runtime param on whether to use TEA vs TEC
  excalibur/cerberus/core.py
Owners: @groudier

remove unused imports
  excalibur/util/tea_code/python_runatm.py
Owners: @nasa-jpl-exoplanet/internal

switch forward model back to using TEA (if useTEA)
  excalibur/cerberus/forward_model.py
Owners: @groudier

pylint
  excalibur/cerberus/core.py
  excalibur/util/tea_code/python_runatm.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

pylint
  excalibur/util/tea_code/python_runatm.py
Owners: @nasa-jpl-exoplanet/internal

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
