Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

whitespace
  excalibur/ariel/forward_models.py
  excalibur/cerberus/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

convert all the old crbmodels to new class method
  excalibur/cerberus/forward_model.py
Owners: @groudier

whitespace
  excalibur/cerberus/forward_model.py
Owners: @groudier

reformat
  excalibur/cerberus/forward_model.py
Owners: @groudier

temporary remove deprecated comments; requires package import
  excalibur/cerberus/forward_model.py
Owners: @groudier

reformatting
  excalibur/cerberus/forward_model.py
Owners: @groudier

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

save vertical profile info (#220)
  .docker/.env
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/transit/core.py
  excalibur/util/cerberus.py
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal, @groudier

fill in blank star-distance values
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

fill in blank star-mass values
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

remove defunct unbound check; unindent a big chunk of code
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

reformatting
  excalibur/ariel/core.py
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

modify instrument-noise reader to distinguish chachan vs thorngren
  excalibur/ariel/ariel_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

more cleaning; also change so False output if empty
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

move ariel plotting out to new plotters.py
  excalibur/ariel/core.py
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

autoformat
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

show analysis plots when verbose
  excalibur/cerberus/plotters.py
Owners: @groudier

show analysis plots when verbose
  excalibur/cerberus/core.py
Owners: @groudier

optionally show up to 3 plots for each ariel-sim
  excalibur/ariel/states.py
Owners: @nasa-jpl-exoplanet/internal

add shame
  excalibur/ariel/states.py
Owners: @nasa-jpl-exoplanet/internal

starting to write new plot routines
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

pass tau info into new plot_depthprobed
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

still working on two new plots
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

return tau profiles
  excalibur/ariel/forward_models.py
Owners: @nasa-jpl-exoplanet/internal

true Teq needs float() because of L98-56 overwrite value
  excalibur/cerberus/core.py
Owners: @groudier

include optical depth as optional return from forward model
  excalibur/cerberus/forward_model.py
Owners: @groudier

autoformat
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/ariel/plotters.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

consistent font size for Hs right axis
  excalibur/util/plotters.py
Owners: @nasa-jpl-exoplanet/internal

more plotting updates
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

autoformat
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

add wavelength bin edges
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#223)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

fix tier=2 for analysis; temporary
  excalibur/cerberus/algorithms.py
Owners: @groudier

plot updates; atmos depth working now
  excalibur/ariel/core.py
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

pass system info into ariel instrument model (for arielRad)
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

collate system info for arielRad
  excalibur/ariel/ariel_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

formatting
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/core.py
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

formatting
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
