Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

Trying to fix my own mess
  excalibur/ariel/core.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/runtime/algorithms.py
  excalibur/runtime/core.py
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

set metal by hand in lahna tests
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

linters
  excalibur/cerberus/core.py
  excalibur/runtime/algorithms.py
  excalibur/runtime/core.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

autoformatting
  excalibur/transit/core.py
Owners: @groudier

autoformatting
  excalibur/transit/states.py
Owners: @groudier

lazy format for log.error
  excalibur/cerberus/core.py
Owners: @groudier

more pylint
  excalibur/transit/core.py
Owners: @groudier

Conflicts
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

Conflicts
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

Conflicts
  excalibur/ariel/core.py
  excalibur/cerberus/forward_model.py
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Conflicts
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

Conflicts
  excalibur/selftest/algorithms.py
  excalibur/selftest/core.py
Owners: @nasa-jpl-exoplanet/internal

Conflicts
  excalibur/cerberus/core.py
Owners: @groudier

TEA in cerberus
  excalibur/cerberus/forward_model.py
Owners: @groudier

Conflicts
  excalibur/cerberus/plotters.py
Owners: @groudier

adjust plot text a bit
  excalibur/cerberus/plotters.py
Owners: @groudier

turn off TEA for HST
  excalibur/cerberus/core.py
Owners: @groudier

Conflicts
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

Conflicts
  excalibur/runtime/core.py
Owners: @nasa-jpl-exoplanet/internal

clean up debuggin code
  excalibur/runtime/core.py
Owners: @nasa-jpl-exoplanet/internal

update version number for runtime
  excalibur/runtime/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

Conflicts
  excalibur/ariel/algorithms.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

fix the discrete fluxes problem in transit.spectrum plot
  excalibur/transit/states.py
Owners: @groudier

Conflicts
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

autoformatting
  excalibur/transit/states.py
Owners: @groudier

more pylint
  excalibur/transit/core.py
Owners: @groudier

set metal by hand in lahna tests
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

major trouble with transit/core merge
  excalibur/transit/core.py
Owners: @groudier

autoformatting
  excalibur/transit/core.py
Owners: @groudier

Conflicts
  excalibur/runtime/algorithms.py
  excalibur/runtime/core.py
  excalibur/runtime/states.py
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

Conflicts
  excalibur/runtime/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

Conflicts
  excalibur/cerberus/algorithms.py
  excalibur/transit/algorithms.py
Owners: @groudier

Conflicts
  excalibur/runtime/core.py
Owners: @nasa-jpl-exoplanet/internal

Conflicts
  excalibur/ariel/core.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Conflicts
  excalibur/cerberus/forward_model.py
Owners: @groudier

Conflicts
  excalibur/cerberus/forward_model.py
  excalibur/transit/algorithms.py
Owners: @groudier

Conflicts
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/runtime/algorithms.py
  excalibur/runtime/core.py
  excalibur/runtime/states.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

Conflicts
  excalibur/cerberus/core.py
Owners: @groudier

style
  excalibur/ariel/algorithms.py
  excalibur/ariel/core.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/forward_model.py
  excalibur/runtime/algorithms.py
  excalibur/runtime/core.py
  excalibur/selftest/algorithms.py
  excalibur/transit/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

updated example xml
  excalibur/runtime/example.xml
Owners: @nasa-jpl-exoplanet/internal
