Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

return both flare results and now also the plot
  excalibur/phasecurve/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/core.py
  excalibur/phasecurve/flare_det.py
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/core.py
  excalibur/phasecurve/flare_det.py
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/flare_det.py
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/flare_det.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/flare_det.py
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/flare_det.py
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

move plot saving from core to flares_det
  excalibur/phasecurve/core.py
  excalibur/phasecurve/flare_det.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/core.py
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/flare_det.py
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

oops deleted too much
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

Oops
  excalibur/transit/algorithms.py
Owners: @groudier

Oops (#259)
  excalibur/transit/algorithms.py
Owners: @groudier

add new context for flare fit
  excalibur/phasecurve/flare_det_context.py
Owners: @nasa-jpl-exoplanet/internal

include logger for warning messages
  excalibur/phasecurve/flare_det.py
Owners: @nasa-jpl-exoplanet/internal

use context instead of global, to pass info to pymc
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

mistake
  excalibur/phasecurve/flare_det_context.py
Owners: @nasa-jpl-exoplanet/internal

mistake
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

define R_op and grad, even though not used
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

fixing pymc calls lintwise
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

fixing pymc calls lintwise
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

fixing pymc calls lintwise
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

lets try no default value; doesnt like dict anyway
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

whitespace
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

back up a bit; not working anymore
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

ok proper syntax now for make_node arg passing
  excalibur/phasecurve/flare_det.py.bak
  excalibur/phasecurve/flare_det.py.ok
  excalibur/phasecurve/flare_det_utils.py.bak
  excalibur/phasecurve/flare_det_utils.py.bak2
  excalibur/phasecurve/flare_det_utils.py.ok
  excalibur/phasecurve/flare_det_utils.py.ok2
Owners: @nasa-jpl-exoplanet/internal

oops. remove those backup files
  excalibur/phasecurve/flare_det.py.bak
  excalibur/phasecurve/flare_det.py.ok
  excalibur/phasecurve/flare_det_utils.py.bak
  excalibur/phasecurve/flare_det_utils.py.bak2
  excalibur/phasecurve/flare_det_utils.py.ok
  excalibur/phasecurve/flare_det_utils.py.ok2
Owners: @nasa-jpl-exoplanet/internal

trying to break the thing
  excalibur/ancillary/__main__.py
  excalibur/ariel/__main__.py
  excalibur/cerberus/__main__.py
  excalibur/classifier/__main__.py
  excalibur/data/__main__.py
  excalibur/eclipse/__main__.py
  excalibur/gemli/__main__.py
  excalibur/hwo/__main__.py
  excalibur/phasecurve/__main__.py
  excalibur/runtime/__main__.py
  excalibur/selftest/__main__.py
  excalibur/system/__main__.py
  excalibur/target/__main__.py
  excalibur/transit/__main__.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

enforce latest altaipony, to avoid numpy-1-requiring k2sc junk
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

oops
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Oopsie and StYlE
  excalibur/data/__main__.py
  excalibur/eclipse/__main__.py
Owners: @nasa-jpl-exoplanet/internal

new esp version
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Oops the Oopsie
  excalibur/data/__main__.py
  excalibur/eclipse/__main__.py
Owners: @nasa-jpl-exoplanet/internal

forked altaipony
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal
