Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

pylint
  excalibur/util/tea_code/runatm.py
Owners: @nasa-jpl-exoplanet/internal

mxr definition for equilibrium case
  excalibur/cerberus/forward_model.py
Owners: @groudier

ariel calls both TEC and TEA now
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

vertically average TEA results; take index of Hs array;getmmw doesnt have fH2 for TEA case
  excalibur/cerberus/forward_model.py
Owners: @groudier

also vertically average TEA in ariel call
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

pylint
  excalibur/ariel/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

move tea species list inside calctea
  excalibur/ariel/core.py
  excalibur/cerberus/forward_model.py
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

pylint; dont crash on missing cross-sections for TEA species
  excalibur/ariel/core.py
  excalibur/cerberus/forward_model.py
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

formatting
  excalibur/cerberus/forward_model.py
  excalibur/util/cerberus.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

Fixing data calibration multiprocess
  excalibur/data/algorithms.py
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

CIs
  excalibur/data/algorithms.py
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt (#184)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Lint
  excalibur/data/algorithms.py
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

verbose plot
  excalibur/cerberus/forward_model.py
Owners: @groudier

180 pushing jwst to spectrum (#185)
  excalibur/data/algorithms.py
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

remove print statements
  excalibur/ariel/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

special case for mmw calculation when TEA provideds H,He mixratios
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

autoformat
  excalibur/cerberus/forward_model.py
  excalibur/util/cerberus.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

import logging
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

remove print
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

merge Luke TEA code (#177)
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/levers.xsd
  excalibur/target/edit.py
  excalibur/target/targetlists.py
  excalibur/util/cerberus.py
  excalibur/util/tea_code/format.py
  excalibur/util/tea_code/iterate.py
  excalibur/util/tea_code/lagrange.py
  excalibur/util/tea_code/lambdacorr.py
  excalibur/util/tea_code/makeatm.py
  excalibur/util/tea_code/makeheader.py
  excalibur/util/tea_code/readconf.py
  excalibur/util/tea_code/runatm.py
  excalibur/util/tea_code/updated_balance.py
  excalibur/util/time.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Conflicts
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

Thr levels
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

Conflicts
  excalibur/data/algorithms.py
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

Conflicts
  excalibur/data/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

CI
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

initial commit of stroke tool
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

added duplicate processing
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

comment on the 0-d array problem
  excalibur/util/tensor.py
Owners: @nasa-jpl-exoplanet/internal

ready for testing
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

style
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

cleaned up
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

style
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

clean up ariel-sim plot legend
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

deal with strange 0-d-array type for retrieval params
  excalibur/cerberus/forward_model.py
Owners: @groudier

autoformat
  excalibur/ariel/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

handle corner plot without bestfit values
  excalibur/cerberus/plotters.py
Owners: @groudier

adjust text a bit
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

clean up awkward call for blank bestfit vals
  excalibur/cerberus/core.py
Owners: @groudier

latest version of dawgie
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal
