Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

more formatting!
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

more formatting!
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

typo
  excalibur/ariel/states.py
Owners: @nasa-jpl-exoplanet/internal

oh hell another formatter
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

clean system params; new cerb.result plots (#222)
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/ariel/plotters.py
  excalibur/ariel/states.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
  excalibur/system/overwriter.py
  excalibur/util/plotters.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#224)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

better hand FSM problems
  excalibur/presumptive/fsm.py
Owners: @nasa-jpl-exoplanet/internal

Update test_02.py
  test/test_02.py
Owners: @nasa-jpl-exoplanet/internal

225: better hand FSM problems (#226)
  excalibur/presumptive/fsm.py
  test/test_02.py
Owners: @nasa-jpl-exoplanet/internal

Rewriting some lines
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

CIs
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

Stab at the memory issue (#221)
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

option to calculate arielrad noise directly, rather than lookup table
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/forward_models.py
Owners: @nasa-jpl-exoplanet/internal

option to calculate arielrad noise directly, rather than lookup table
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

typo
  excalibur/eclipse/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update fsm.py
  excalibur/presumptive/fsm.py
Owners: @nasa-jpl-exoplanet/internal

update tests
  excalibur/presumptive/fsm.py
  test/test_02.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt (#228)
  .docker/.env
  excalibur/presumptive/fsm.py
  requirements.txt
  test/test_02.py
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

remove debuging save of ariel xslib
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

plotting offset cleaning
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

less prints
  excalibur/ariel/ariel_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

go back to edits before main revert
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

add env for Armen
  envs/tokadjia
Owners: @nasa-jpl-exoplanet/internal

fixing runtime for eclipse.whitelight
  excalibur/eclipse/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

fixing runtime for eclipse.spectrum
  excalibur/eclipse/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

check for empty spectrum before plotting
  excalibur/transit/states.py
Owners: @groudier

move event phase over by 0.5 for eclipse plot
  excalibur/transit/core.py
Owners: @groudier

ug. merge problems
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

mistake in armen env
  envs/tokadjia
Owners: @nasa-jpl-exoplanet/internal

error for fixed inc case (eclipse is always fixed inc)
  excalibur/transit/core.py
Owners: @groudier

formatting
  excalibur/transit/core.py
Owners: @groudier

import logger
  excalibur/transit/states.py
Owners: @groudier

lint cleaning
  excalibur/ariel/ariel_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

missing indent
  excalibur/transit/states.py
Owners: @groudier

lint cleaning
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/ariel/ariel_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal
