Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#279)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

app new UI as default
  .docker/.env
  .docker/Dockerfile
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

LDTL LDC
  excalibur/transit/core.py
Owners: @groudier

Angstrom -> nm and explanation
  excalibur/transit/core.py
Owners: @groudier

missing values must be float not string
  excalibur/ariel/ariel_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

use combined sys+instr noise for gemli histo
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

remove old arielMCS-read comments
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

store target lists in targetlists/
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

mostly lint
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

JWST flare implementation.
  excalibur/phasecurve/algorithms.py
  excalibur/phasecurve/flare_det.py
Owners: @nasa-jpl-exoplanet/internal

remove prints
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

heritage shame
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

make and use generic tier1,tier2 list names
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/gemli/algorithms.py
  excalibur/gemli/core.py
  excalibur/target/targetlists.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

typo
  excalibur/cerberus/algorithms.py
Owners: @groudier

typo
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

also update to newer tier1 list (for some histograms)
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

remove 9 duplicate names
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

app new UI as default (#282)
  .docker/.env
  .docker/Dockerfile
  .docker/compose.yaml
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Angstrom -> nm and explanation
  excalibur/transit/core.py
Owners: @groudier

LDTL LDC
  excalibur/transit/core.py
Owners: @groudier

My comments
  excalibur/data/core.py
  excalibur/transit/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

CI for Grusnis model
  excalibur/transit/core.py
Owners: @groudier

Actually fixed conflict
  excalibur/transit/core.py
Owners: @groudier

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Style changed
  excalibur/transit/core.py
Owners: @groudier

Update requirements.txt (#285)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Code Quality Changes
  excalibur/transit/core.py
Owners: @groudier

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#287)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Correcting CIs
  excalibur/transit/core.py
Owners: @groudier

Update core.py
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

Update core.py
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

New Limb-Darkening Model (#286)
  excalibur/transit/core.py
Owners: @groudier

normalization LD law
  excalibur/transit/core.py
Owners: @groudier

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
