Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

autoformat
  excalibur/cerberus/bot.py
Owners: @groudier

more tensor=false action
  excalibur/transit/core.py
Owners: @groudier

add failed filename to error message
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

include new plot in transit/states
  excalibur/transit/states.py
Owners: @groudier

move corner plotter from cerberus to util
  excalibur/cerberus/core.py
  excalibur/cerberus/plotting.py
  excalibur/util/plotters.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

include corner plot in transit.whitelight
  excalibur/transit/core.py
Owners: @groudier

autoformatting
  excalibur/cerberus/core.py
  excalibur/cerberus/plotting.py
Owners: @groudier

add logging to util/plotters
  excalibur/util/plotters.py
Owners: @nasa-jpl-exoplanet/internal

missing os import
  excalibur/transit/core.py
Owners: @groudier

actually flip back; keep cerberus corner in cerberus
  excalibur/cerberus/plotting.py
  excalibur/util/plotters.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

adding new corner plotter in transit; diff from cerberus corner
  excalibur/cerberus/core.py
  excalibur/cerberus/plotters.py
  excalibur/transit/core.py
  excalibur/transit/starspots.py
Owners: @groudier

adding new corner plotter in transit; diff from cerberus corner
  excalibur/transit/plotters.py
Owners: @groudier

clean up new corner
  excalibur/transit/core.py
Owners: @groudier

clean up new corner
  excalibur/transit/plotters.py
Owners: @groudier

profiled trace should be alltrace
  excalibur/transit/plotters.py
Owners: @groudier

Update post2shelve.sh
  tools/post2shelve.sh
Owners: @nasa-jpl-exoplanet/admin

cleaning transit corner plot
  excalibur/transit/plotters.py
Owners: @groudier

cleaning transit corner plot
  excalibur/transit/core.py
Owners: @groudier

update list of JWST targets
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

create envs for interns
  envs/admeziem
  envs/decocq
  envs/imertz
Owners: @nasa-jpl-exoplanet/internal

formatting
  excalibur/transit/plotters.py
Owners: @groudier

fix bug from when ExcaliburSV was created
  excalibur/cerberus/states.py
Owners: @groudier

formatting
  excalibur/system/autofill.py
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

Update .env (#62)
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#64)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

done, but needs editorial changes (#65)
  docs/pipeline/sharing/README.md
Owners: @nasa-jpl-exoplanet/internal

Omnibus content but primarily 50-tensors-in-transit (#51)
  .docker/.env
  docs/pipeline/sharing/README.md
  envs/admeziem
  envs/decocq
  envs/imertz
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/bot.py
  excalibur/cerberus/core.py
  excalibur/cerberus/plotters.py
  excalibur/cerberus/states.py
  excalibur/system/autofill.py
  excalibur/target/targetlists.py
  excalibur/transit/core.py
  excalibur/transit/plotters.py
  excalibur/transit/starspots.py
  excalibur/transit/states.py
  requirements.txt
  tools/post2shelve.sh
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal, @groudier

updating readmes, temporary logo
  README.md
  docs/README.md
  docs/img/logo.png
Owners: @nasa-jpl-exoplanet/internal

READMEs and image fix
  README.md
  docs/README.md
Owners: @nasa-jpl-exoplanet/internal

Fixed typo
  docs/README.md
Owners: @nasa-jpl-exoplanet/internal

empty doc
  docs/README.md
Owners: @nasa-jpl-exoplanet/internal

test
  docs/README.md
Owners: @nasa-jpl-exoplanet/internal

cleaning up links
  README.md
Owners: @nasa-jpl-exoplanet/internal

updated temporary logo
  docs/README.md
  docs/espdoc/interpretation/README.md
  docs/espdoc/reduction/README.md
  docs/img/logo.png
Owners: @nasa-jpl-exoplanet/internal

Added text to ESP README
  docs/README.md
Owners: @nasa-jpl-exoplanet/internal

Typos
  docs/README.md
Owners: @nasa-jpl-exoplanet/internal

a few more default uncertainties in system
  excalibur/system/autofill.py
Owners: @nasa-jpl-exoplanet/internal
