Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

generalize selftest for TEC/TEA chem model
  excalibur/selftest/algorithms.py
  excalibur/selftest/core.py
Owners: @nasa-jpl-exoplanet/internal

TEA in cerberus
  excalibur/cerberus/core.py
Owners: @groudier

TEA in cerberus
  excalibur/cerberus/forward_model.py
Owners: @groudier

clean up
  excalibur/cerberus/forward_model.py
Owners: @groudier

adjust text spacing based on y-axis range
  excalibur/cerberus/plotters.py
Owners: @groudier

set tier by hand in cerb.analysis
  excalibur/cerberus/algorithms.py
Owners: @groudier

turn off TEA for HST
  excalibur/cerberus/core.py
Owners: @groudier

adjust plot text a bit
  excalibur/cerberus/plotters.py
Owners: @groudier

pylint maybe
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

autoformat
  excalibur/cerberus/forward_model.py
Owners: @groudier

turn off TEA cerberus fitting for now
  excalibur/cerberus/core.py
Owners: @groudier

151 better chemistry (#152)
  excalibur/ariel/core.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
  excalibur/selftest/algorithms.py
  excalibur/selftest/core.py
  excalibur/transit/core.py
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

downgrading some log.warnings to log.infos
  excalibur/ancillary/algorithms.py
  excalibur/ariel/algorithms.py
  excalibur/ariel/ariel_instrument_model.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/classifier/algorithms.py
  excalibur/classifier/states.py
  excalibur/data/algorithms.py
  excalibur/data/core.py
  excalibur/phasecurve/algorithms.py
  excalibur/selftest/algorithms.py
  excalibur/selftest/core.py
  excalibur/system/algorithms.py
  excalibur/system/autofill.py
  excalibur/system/consistency.py
  excalibur/system/core.py
  excalibur/target/algorithms.py
  excalibur/target/core.py
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

reformat
  excalibur/classifier/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

updating levers.xsd to include molecule lists
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/levers.xsd
Owners: @nasa-jpl-exoplanet/internal

autoformat
  excalibur/cerberus/core.py
  excalibur/classifier/algorithms.py
  excalibur/data/algorithms.py
  excalibur/data/core.py
  excalibur/phasecurve/algorithms.py
  excalibur/target/algorithms.py
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

CIs
  excalibur/runtime/algorithms.py
  excalibur/runtime/core.py
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

CIs
  excalibur/runtime/algorithms.py
  excalibur/runtime/core.py
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

CIs
  excalibur/runtime/core.py
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

Style
  excalibur/runtime/algorithms.py
  excalibur/runtime/core.py
Owners: @nasa-jpl-exoplanet/internal

autoupdate autogen and binding
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
Owners: @nasa-jpl-exoplanet/internal

new moleculeValue class
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

debugging runtime core.py
  excalibur/runtime/core.py
Owners: @nasa-jpl-exoplanet/internal

clean up debuggin code
  excalibur/runtime/core.py
Owners: @nasa-jpl-exoplanet/internal

fix dangerous-default-value
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

dont print the version number on website view of runtime params
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

update version number for runtime
  excalibur/runtime/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

propagate molecule runtime params into cerb,ariel,selftest
  excalibur/ariel/algorithms.py
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

autoformat
  excalibur/ariel/algorithms.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/forward_model.py
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

add slice option for transit (in runtime)
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/example.xml
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

pass slice option into transit
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
Owners: @groudier

autoformat
  excalibur/cerberus/core.py
Owners: @groudier

autoformat
  excalibur/transit/algorithms.py
Owners: @groudier

taking it back
  excalibur/runtime/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

trigger utility
  excalibur/runtime/algorithms.py
  excalibur/runtime/core.py
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

CI
  excalibur/runtime/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

CIs
  excalibur/runtime/core.py
Owners: @nasa-jpl-exoplanet/internal

fix the discrete fluxes problem in transit.spectrum plot
  excalibur/transit/states.py
Owners: @groudier

updating transit and cerberus triggers
  excalibur/cerberus/algorithms.py
  excalibur/transit/algorithms.py
Owners: @groudier

CIs
  excalibur/cerberus/algorithms.py
  excalibur/transit/algorithms.py
Owners: @groudier

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
