Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

Update requirements.txt (#198)
  .docker/.env
  .github/workflows/pylint.rc
  excalibur/target/__main__.py
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

more cleanup (#194)
  excalibur/ancillary/core.py
  excalibur/ancillary/estimators.py
  excalibur/ariel/algorithms.py
  excalibur/ariel/core.py
  excalibur/ariel/metallicity.py
  excalibur/cerberus/plotters.py
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Update requirements.txt (#196)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update requirements.txt (#199)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update requirements.txt (#197)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update core.py (#193)
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt (#195)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update requirements.txt (#200)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update stroke.py (#192)
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

Weird NAME thing
  excalibur/target/__main__.py
Owners: @nasa-jpl-exoplanet/internal

first, try latest versions
  .github/workflows/dynamic_analysis.yaml
  .github/workflows/static_analysis.yaml
Owners: @nasa-jpl-exoplanet/admin

try without torch
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

add module lost with torch
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

clean up CI after finding torch to be a problem
  .docker/.env
  excalibur/classifier/__init__.py
  excalibur/classifier/core.py
  excalibur/target/__main__.py
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

203: testing fails in CI (#204)
  .docker/.env
  .github/workflows/dynamic_analysis.yaml
  .github/workflows/static_analysis.yaml
  excalibur/classifier/__init__.py
  excalibur/classifier/core.py
  excalibur/target/__main__.py
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

186 last pieces to link jwst calibration to transit (#202)
  excalibur/data/algorithms.py
  excalibur/data/core.py
  excalibur/transit/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

add 6 new runtime params for specifying ariel targetlist
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

use runtime param to allow ariel-sim to select arielRad version
  excalibur/ariel/algorithms.py
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

autoformat
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

add in 470 new star targets
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

filter targets based on whether that are in Ariel tier-2
  excalibur/cerberus/algorithms.py
Owners: @groudier

pylint
  excalibur/ariel/ariel_instrument_model.py
  excalibur/cerberus/algorithms.py
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

remove print statements
  excalibur/cerberus/plotters.py
Owners: @groudier

update autogen
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
Owners: @nasa-jpl-exoplanet/internal

calculate on-disk folder names, rather than lookup table
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

clean up target name list a little
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

remove on-disk folder name lookup table
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

rename a target; remove notes
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

remove notes
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

formatting
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

remove Kepler-13 (same as KOI-13)
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

Eccentric orbit update (#201)
  excalibur/ariel/algorithms.py
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/core.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/cerberus/plotters.py
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
  excalibur/system/core.py
  excalibur/target/core.py
  excalibur/target/edit.py
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

WIP: inital and untested
  excalibur/presumptive/__init__.py
  excalibur/presumptive/despot.py
  excalibur/presumptive/fsm.py
  excalibur/presumptive/mia.py
Owners: @nasa-jpl-exoplanet/internal

monitoring the FSM is working
  excalibur/presumptive/despot.py
  excalibur/presumptive/email.py
  excalibur/presumptive/fsm.py
  excalibur/presumptive/perform.py
  test/test_02.py
Owners: @nasa-jpl-exoplanet/internal

CI happy
  excalibur/presumptive/despot.py
  excalibur/presumptive/email.py
  excalibur/presumptive/fsm.py
  excalibur/presumptive/mia.py
  excalibur/presumptive/perform.py
  test/test_02.py
Owners: @nasa-jpl-exoplanet/internal

WIP
  excalibur/presumptive/mia.py
  excalibur/presumptive/perform.py
  test/test_02.py
Owners: @nasa-jpl-exoplanet/internal

WIP: basic bits are in place but need to work on menotor0 now to run some tests to see how it is going to really work
  excalibur/presumptive/mia.py
  excalibur/presumptive/perform.py
  test/test_02.py
Owners: @nasa-jpl-exoplanet/internal

wip: real life testing
  excalibur/presumptive/fsm.py
  test/test_02.py
Owners: @nasa-jpl-exoplanet/internal

add in CA
  excalibur/presumptive/despot.py
  excalibur/presumptive/fsm.py
  excalibur/presumptive/mia.py
  test/test_02.py
Owners: @nasa-jpl-exoplanet/internal

typo
  excalibur/presumptive/despot.py
Owners: @nasa-jpl-exoplanet/internal
