Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

Cerberus pymc testing (#87)
  excalibur/ariel/core.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
  excalibur/transit/core.py
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

move TensorShell from core to forward_model; context problem when pipeline loading
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

merge trouble
  excalibur/cerberus/core.py
Owners: @groudier

oof. bug during main merger I guess
  excalibur/cerberus/core.py
Owners: @groudier

oof. bug during main merger I guess
  excalibur/cerberus/core.py
Owners: @groudier

oh no, forgot to go back to 100 atmosphere levels
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

update the heritage code shame
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

cell-var-from-loop?
  excalibur/cerberus/core.py
Owners: @groudier

get rid of pylint disables
  excalibur/cerberus/forward_model.py
Owners: @groudier

fix abstract-method
  excalibur/cerberus/forward_model.py
Owners: @groudier

revert
  excalibur/cerberus/core.py
Owners: @groudier

more
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

more
  excalibur/cerberus/forward_model.py
Owners: @groudier

undisabling the tensorshell stuff in transit now
  excalibur/transit/core.py
Owners: @groudier

oops mistake
  excalibur/transit/core.py
Owners: @groudier

include abstract method definitions
  excalibur/cerberus/forward_model.py
  excalibur/transit/core.py
Owners: @groudier

Cerberus pymc testing (#90)
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/transit/core.py
Owners: @groudier

WIP: unsatisfactory fix
  .docker/.env
  .docker/compose.yaml
  tools/pp_reset.sh
Owners: @nasa-jpl-exoplanet/admin

switch from normal to customdist for cloudy model
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
Owners: @groudier

switch to cloudy model in loglikelihood; drop nanmean
  excalibur/cerberus/forward_model.py
Owners: @groudier

plot was renamed snakeily
  excalibur/cerberus/states.py
Owners: @groudier

put the forwardmodel in the ctxt file, for use in loglikelihood()
  excalibur/cerberus/core.py
Owners: @groudier

make loglikehood more generic; pass in the forwardmodel via ctxt
  excalibur/cerberus/forward_model.py
Owners: @groudier

move the forward models final reshaping inside of forwardmodel, so that loglikelihood has same code for cerberus and for transit
  excalibur/cerberus/forward_model.py
Owners: @groudier

if no clouds when fitting, then no clouds in the data
  excalibur/cerberus/core.py
Owners: @groudier

reformat
  excalibur/cerberus/states.py
Owners: @groudier

lint stuff
  excalibur/cerberus/core.py
  excalibur/cerberus/states.py
Owners: @groudier

move fm context stuff to separate file
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

autoformat
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/states.py
Owners: @groudier

move matrix-to-array conversion within crbmodel, so cerb.results gets an array
  excalibur/cerberus/forward_model.py
Owners: @groudier

remove some print statements
  excalibur/cerberus/core.py
Owners: @groudier

move tensormodel stuff to new util/tensor
  excalibur/cerberus/fmcontext.py
  excalibur/util/tensor.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

move tensormodel stuff to new util/tensor
  excalibur/cerberus/forward_model.py
Owners: @groudier

import TensorShell from util
  excalibur/cerberus/core.py
Owners: @groudier

add ctxt for pyline
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

formatting
  excalibur/cerberus/forward_model.py
Owners: @groudier

increasing shame
  excalibur/cerberus/fmcontext.py
  excalibur/util/tensor.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

unused imports
  excalibur/cerberus/forward_model.py
Owners: @groudier

annoying formatting
  excalibur/cerberus/forward_model.py
Owners: @groudier

jees oh man another one
  excalibur/util/tensor.py
Owners: @nasa-jpl-exoplanet/internal

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
