Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

cleanup
  excalibur/presumptive/mia.py
  test/test_02.py
Owners: @nasa-jpl-exoplanet/internal

added farm monitoring
  excalibur/presumptive/mia.py
  excalibur/presumptive/perform.py
Owners: @nasa-jpl-exoplanet/internal

should be working
  excalibur/presumptive/mia.py
  excalibur/presumptive/perform.py
  test/test_02.py
Owners: @nasa-jpl-exoplanet/internal

messaging problem
  excalibur/presumptive/mia.py
Owners: @nasa-jpl-exoplanet/internal

what??
  .github/workflows/bandit_baseline.json
  .github/workflows/static_analysis.yaml
  test/test_02.py
  tools/run.sh
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Issue 206: basic watchdog (#207)
  .github/workflows/bandit_baseline.json
  .github/workflows/static_analysis.yaml
  excalibur/presumptive/__init__.py
  excalibur/presumptive/despot.py
  excalibur/presumptive/email.py
  excalibur/presumptive/fsm.py
  excalibur/presumptive/mia.py
  excalibur/presumptive/perform.py
  test/test_02.py
  tools/run.sh
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update email.py
  excalibur/presumptive/email.py
Owners: @nasa-jpl-exoplanet/internal

Update email.py (#208)
  excalibur/presumptive/email.py
Owners: @nasa-jpl-exoplanet/internal

round one of discovery
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

round one of discovery (#210)
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

typo
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

Issue 205 deadend (#211)
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

discovery round 2: invoke gc
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

Issue 205 deadend (#212)
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

discovery round 3: maybe the copy
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

discovery round 3: maybe the copy
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

Issue 205 deadend (#213)
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

maybe copy with forced gc
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

Issue 205: discovery of jwst in ops (#214)
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

undo discovery
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

undo discovery (#215)
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

put new targets in the "active" target list
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

option to only run cerberus for specific planets (tier-2 Ariel list)
  excalibur/cerberus/core.py
Owners: @groudier

option to only run cerberus for specific planets (tier-2 Ariel list)
  excalibur/cerberus/algorithms.py
Owners: @groudier

update pylint disable
  excalibur/cerberus/algorithms.py
Owners: @groudier

dont use empty list as default
  excalibur/cerberus/core.py
Owners: @groudier

Eccentric orbit update (#209)
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/target/edit.py
  excalibur/target/targetlists.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

make sure Teq is a float (bug for L 98-56 with Teq from overwriter)
  excalibur/cerberus/core.py
Owners: @groudier

modify crbce to return mixratio profiles, not just the mean
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

add mixratioprofile as returned param for all crbce calls
  excalibur/ariel/core.py
  excalibur/transit/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

clean a bit so TEA same as TEC
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

crbmodel has 3 output results now
  excalibur/ariel/forward_models.py
Owners: @nasa-jpl-exoplanet/internal

crbmodel has 3 output results now
  excalibur/cerberus/core.py
Owners: @groudier

import deprecated package
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

big update to change crbmodel into a class
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

Stab at the memory issue
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

switch crbmodel calls from old to new version
  excalibur/ariel/forward_models.py
  excalibur/cerberus/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Tracking opened fits files
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

Da StYlE
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

Da BS
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal
