Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

constant mixratio profile for free-chemistry
  excalibur/cerberus/forward_model.py
Owners: @groudier

have gemli fitting fit the ariel-gemli model
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal

removed the older factories and put in the place holders
  excalibur/ancillary/__init__.py
  excalibur/ancillary/bot.py
  excalibur/ariel/__init__.py
  excalibur/ariel/bot.py
  excalibur/cerberus/__init__.py
  excalibur/cerberus/bot.py
  excalibur/classifier/__init__.py
  excalibur/classifier/bot.py
  excalibur/console/__init__.py
  excalibur/console/bot.py
  excalibur/data/__init__.py
  excalibur/data/bot.py
  excalibur/eclipse/__init__.py
  excalibur/eclipse/bot.py
  excalibur/gemli/__init__.py
  excalibur/gemli/bot.py
  excalibur/hwo/__init__.py
  excalibur/hwo/bot.py
  excalibur/phasecurve/__init__.py
  excalibur/phasecurve/bot.py
  excalibur/presumptive/__init__.py
  excalibur/runtime/__init__.py
  excalibur/runtime/bot.py
  excalibur/selftest/__init__.py
  excalibur/selftest/bot.py
  excalibur/system/__init__.py
  excalibur/system/bot.py
  excalibur/target/__init__.py
  excalibur/target/bot.py
  excalibur/transit/__init__.py
  excalibur/transit/bot.py
  excalibur/util/__init__.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Minor fixes and style changes
  excalibur/hwo/hwo_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

black fixes
  excalibur/hwo/hwo_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

black fixes 2
  excalibur/hwo/hwo_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

Style changes/fixes
  excalibur/hwo/hwo_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

Last black fixes
  excalibur/hwo/hwo_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

Fix code quality
  excalibur/hwo/hwo_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

update all of the mains to use factories instead of bots
  excalibur/ancillary/__main__.py
  excalibur/ariel/__main__.py
  excalibur/cerberus/__main__.py
  excalibur/classifier/__main__.py
  excalibur/console/algorithms.py
  excalibur/data/__main__.py
  excalibur/eclipse/__main__.py
  excalibur/gemli/__main__.py
  excalibur/hwo/__main__.py
  excalibur/phasecurve/__main__.py
  excalibur/runtime/__main__.py
  excalibur/selftest/__main__.py
  excalibur/system/__main__.py
  excalibur/target/__main__.py
  excalibur/transit/__main__.py
  excalibur/util/main.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

donot know why pylint misses the typing
  excalibur/ancillary/__init__.py
  excalibur/ariel/__init__.py
  excalibur/cerberus/__init__.py
  excalibur/classifier/__init__.py
  excalibur/console/__init__.py
  excalibur/data/__init__.py
  excalibur/eclipse/__init__.py
  excalibur/gemli/__init__.py
  excalibur/hwo/__init__.py
  excalibur/phasecurve/__init__.py
  excalibur/presumptive/__init__.py
  excalibur/runtime/__init__.py
  excalibur/selftest/__init__.py
  excalibur/system/__init__.py
  excalibur/target/__init__.py
  excalibur/transit/__init__.py
  excalibur/util/__init__.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Hwo simulation (#296)
  excalibur/hwo/core.py
  excalibur/hwo/hwo_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

Update compose.yaml
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update compose.yaml (#306)
  .docker/.env
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

pylint
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

Whitelight updates
  excalibur/transit/core.py
  excalibur/transit/plotters.py
Owners: @groudier

Whitelight JWST
  excalibur/transit/core.py
  excalibur/transit/plotters.py
  excalibur/transit/starspots.py
Owners: @groudier

Hwo simulation (#296)
  excalibur/hwo/core.py
  excalibur/hwo/hwo_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

Update compose.yaml (#306)
  .docker/.env
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

300 transit ld lc im update (#307)
  excalibur/transit/core.py
  excalibur/transit/plotters.py
  excalibur/transit/starspots.py
Owners: @groudier

modif_fm_cerberus
  excalibur/cerberus/.ipynb_checkpoints/forward_model-checkpoint.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

COMMENTS
  excalibur/transit/core.py
Owners: @groudier

cistyle modif
  excalibur/cerberus/.ipynb_checkpoints/forward_model-checkpoint.py
  excalibur/cerberus/forward_model.py
  excalibur/transit/.ipynb_checkpoints/core-checkpoint.py
Owners: @groudier

cistyle modif_2
  excalibur/transit/.ipynb_checkpoints/algorithms-checkpoint.py
  excalibur/transit/.ipynb_checkpoints/core-checkpoint.py
Owners: @groudier

reorder main tasks; no effect, but good for sanity
  excalibur/cerberus/__main__.py
  excalibur/data/__main__.py
  excalibur/eclipse/__main__.py
  excalibur/gemli/__main__.py
  excalibur/system/__main__.py
  excalibur/transit/__main__.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

lint
  excalibur/cerberus/forward_model.py
Owners: @groudier

Delete envs/.ipynb_checkpoints/alsMT-checkpoint
  envs/.ipynb_checkpoints/alsMT-checkpoint
Owners: @nasa-jpl-exoplanet/internal

remove ipynb files
  excalibur/cerberus/.ipynb_checkpoints/algorithms-checkpoint.py
  excalibur/cerberus/.ipynb_checkpoints/bounds-checkpoint.py
  excalibur/cerberus/.ipynb_checkpoints/core-checkpoint.py
  excalibur/cerberus/.ipynb_checkpoints/fmcontext-checkpoint.py
  excalibur/cerberus/.ipynb_checkpoints/forward_model-checkpoint.py
  excalibur/selftest/.ipynb_checkpoints/algorithms-checkpoint.py
  excalibur/system/.ipynb_checkpoints/constants-checkpoint.py
  excalibur/system/.ipynb_checkpoints/core-checkpoint.py
  excalibur/util/.ipynb_checkpoints/cerberus-checkpoint.py
  excalibur/util/.ipynb_checkpoints/time-checkpoint.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

remove ipynb files
  envs/.ipynb_checkpoints/admeziem-checkpoint
  envs/.ipynb_checkpoints/alsCluster-checkpoint
  envs/.ipynb_checkpoints/bryden-checkpoint
  envs/.ipynb_checkpoints/cbernard-checkpoint
  envs/.ipynb_checkpoints/hirota-checkpoint
  envs/.ipynb_checkpoints/imertz-checkpoint
  envs/.ipynb_checkpoints/tokadjia-checkpoint
Owners: @nasa-jpl-exoplanet/internal

299 update cerberus with constant s magic (#309)
  envs/cbernard
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

avoid log(0) warnings
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

add lethe.py
  excalibur/transit/core.py
  excalibur/transit/lethe.py
Owners: @groudier

avoid zero/negative abundance in vertical profiles
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

use the logL-best walker to define best fit
  excalibur/cerberus/core.py
  excalibur/cerberus/plotters.py
Owners: @groudier

lint
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

lint
  excalibur/cerberus/core.py
Owners: @groudier

remove print statements
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

save and plot reduced-chi2 for pymc walkers (#294)
  excalibur/ariel/core.py
  excalibur/cerberus/__main__.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
  excalibur/data/__main__.py
  excalibur/eclipse/__main__.py
  excalibur/gemli/__main__.py
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
  excalibur/system/__main__.py
  excalibur/system/overwriter.py
  excalibur/target/algorithms.py
  excalibur/target/core.py
  excalibur/target/targetlists.py
  excalibur/transit/__main__.py
  excalibur/util/cerberus.py
  excalibur/util/tensor.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

modify extra molecule/only-water chem in gemli
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal
