Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

lint
  excalibur/phasecurve/flare_det.py
Owners: @nasa-jpl-exoplanet/internal

lint
  .gitignore
  excalibur/__init__.py
Owners: @nasa-jpl-exoplanet/internal

lint
  .gitignore
Owners: @nasa-jpl-exoplanet/internal

merge in armen flare-spitzer branch
  excalibur/phasecurve/flare_det.py
Owners: @nasa-jpl-exoplanet/internal

sequential color maps for xslib plots
  excalibur/cerberus/core.py
Owners: @groudier

clean a bit
  .gitignore
  excalibur/phasecurve/__main__.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/cerberus/core.py
Owners: @groudier

oops
  excalibur/cerberus/core.py
Owners: @groudier

also Inf trouble (not just NaN)
  excalibur/cerberus/forward_model.py
Owners: @groudier

etc testing (#385)
  excalibur/ariel/plotters.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
  excalibur/gemli/algorithms.py
  excalibur/phasecurve/flare_det.py
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

less ariel-sim models
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

2 samples up the ramp
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

merge a bit more Armen flare-spitzer branch
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

stab at whitelight errors
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
  excalibur/transit/fmcontext.py
Owners: @groudier

remove runtime_params from algorithms; pass full runtime SV to core
  excalibur/ariel/algorithms.py
  excalibur/cerberus/algorithms.py
  excalibur/gemli/algorithms.py
  excalibur/hwo/algorithms.py
  excalibur/selftest/algorithms.py
  excalibur/system/algorithms.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

git rid of runtime tuples; use full runtime SV
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/gemli/core.py
  excalibur/hwo/core.py
  excalibur/selftest/core.py
  excalibur/system/core.py
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

lint
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/core.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/gemli/core.py
  excalibur/hwo/core.py
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

bug in extending one temperature into an array
  excalibur/hwo/core.py
Owners: @nasa-jpl-exoplanet/internal

check for both NaN and also Inf problem when plotting
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/ariel/core.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/forward_model.py
  excalibur/gemli/algorithms.py
  excalibur/selftest/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

missing some of the rtp. guys
  excalibur/cerberus/core.py
Owners: @groudier

error fixed
  excalibur/cerberus/core.py
Owners: @groudier

oops. mistakes
  excalibur/cerberus/bounds.py
Owners: @groudier

also fixed
  excalibur/cerberus/core.py
Owners: @groudier

towards HST cleanup
  excalibur/transit/core.py
  excalibur/transit/fmcontext.py
Owners: @groudier

HST yuk
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
  excalibur/transit/fmcontext.py
  excalibur/transit/plotters.py
Owners: @groudier

CI
  excalibur/cerberus/forward_model.py
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
  excalibur/transit/fmcontext.py
Owners: @groudier

CIStyLe
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
  excalibur/transit/fmcontext.py
Owners: @groudier

DaFingStYlE
  excalibur/transit/core.py
Owners: @groudier

adjust colormap range for xslib plots
  excalibur/cerberus/core.py
Owners: @groudier

mistake fixed
  excalibur/cerberus/bounds.py
Owners: @groudier

fix some more runtime methods to dict version
  excalibur/cerberus/forward_model.py
Owners: @groudier

allow jwst xslib SV to have non-planet-letter keys
  excalibur/cerberus/core.py
Owners: @groudier

oops mistake
  excalibur/cerberus/forward_model.py
Owners: @groudier

lint
  excalibur/cerberus/core.py
Owners: @groudier

lint
  excalibur/cerberus/core.py
Owners: @groudier

etc TEA/Ariel testing (#388)
  excalibur/ariel/algorithms.py
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/ariel/plotters.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/data/core.py
  excalibur/gemli/algorithms.py
  excalibur/gemli/core.py
  excalibur/hwo/algorithms.py
  excalibur/hwo/core.py
  excalibur/phasecurve/flare_det_utils.py
  excalibur/selftest/algorithms.py
  excalibur/selftest/core.py
  excalibur/system/algorithms.py
  excalibur/system/core.py
  excalibur/target/core.py
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
  excalibur/transit/fmcontext.py
  excalibur/transit/plotters.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

small bug
  excalibur/transit/core.py
Owners: @groudier

lint
  excalibur/transit/core.py
Owners: @groudier

small bug (#390)
  excalibur/transit/core.py
Owners: @groudier

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
