Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

dont merge diff length lists as a 2-d array; keep visits separate
  excalibur/transit/states.py
Owners: @groudier

pylint crap
  excalibur/system/autofill.py
Owners: @nasa-jpl-exoplanet/internal

removing print statements
  excalibur/cerberus/forward_model.py
Owners: @groudier

update log messages
  excalibur/transit/algorithms.py
Owners: @groudier

also plot corner for HSTCOMBO whitelight
  excalibur/transit/core.py
Owners: @groudier

cleaned up corner for whitelight
  excalibur/transit/plotters.py
Owners: @groudier

lintering
  excalibur/cerberus/forward_model.py
  excalibur/transit/plotters.py
Owners: @groudier

transit.whitelight cornerplot (#66)
  excalibur/cerberus/forward_model.py
  excalibur/system/autofill.py
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
  excalibur/transit/plotters.py
  excalibur/transit/states.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

Breaking things up (#68)
  README.md
  docs/README.md
  docs/espdoc/interpretation/README.md
  docs/espdoc/reduction/README.md
  docs/img/logo.png
Owners: @nasa-jpl-exoplanet/internal

dont return fig for corner plot
  excalibur/transit/plotters.py
Owners: @groudier

float rather than tensot in orbital()
  excalibur/transit/core.py
Owners: @groudier

autoformatting
  excalibur/transit/core.py
Owners: @groudier

Whitelight cornerplot (#67)
  excalibur/transit/core.py
  excalibur/transit/plotters.py
Owners: @groudier

my env
  envs/groudier
Owners: @nasa-jpl-exoplanet/internal

print under debug in crb fm
  excalibur/cerberus/forward_model.py
Owners: @groudier

Fixes to Cerberus Line paths and forward model verbose
  excalibur/__init__.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

CIs
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

52 cerberus x pytensor (#71)
  envs/groudier
  excalibur/__init__.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

orbital fit multivisit fix
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
  excalibur/transit/plotters.py
Owners: @groudier

Fixed multivisits mechs
  excalibur/transit/core.py
Owners: @groudier

Update README.md
  README.md
Owners: @nasa-jpl-exoplanet/internal

Update README.md (#74)
  README.md
Owners: @nasa-jpl-exoplanet/internal

WIP: removed multiprocessing and moved to dawgie doing the work
  excalibur/runtime/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

WIP: removed multiprocessing and moved to dawgie doing the work
  excalibur/runtime/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

finish remove the multiprocessing needs
  excalibur/runtime/bot.py
Owners: @nasa-jpl-exoplanet/internal

misesd some parens
  excalibur/runtime/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

dead code removal
  excalibur/runtime/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

black
  excalibur/runtime/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

versions
  excalibur/runtime/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

make it clearer
  excalibur/runtime/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

Issue 75: move from multiprocessing to dawgie workers (#76)
  excalibur/runtime/algorithms.py
  excalibur/runtime/bot.py
Owners: @nasa-jpl-exoplanet/internal

Issue 75: move from multiprocessing to dawgie workers (#76)
  excalibur/runtime/algorithms.py
  excalibur/runtime/bot.py
Owners: @nasa-jpl-exoplanet/internal

Update README.md (#74)
  README.md
Owners: @nasa-jpl-exoplanet/internal

Whitelight calls fixed
  excalibur/transit/core.py
  excalibur/transit/plotters.py
Owners: @groudier

CIs
  excalibur/transit/core.py
Owners: @groudier

orbital fit multivisit fix (#73)
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
  excalibur/transit/plotters.py
Owners: @groudier

dont run cerb.release after cerb.atmos updates
  excalibur/cerberus/algorithms.py
Owners: @groudier

transit corner plot now gets 1-d trace for each param
  excalibur/transit/plotters.py
Owners: @groudier

dont trigger transit.starspots after transit.spectrum
  excalibur/transit/algorithms.py
Owners: @groudier

merge in main
  excalibur/transit/core.py
Owners: @groudier
