Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

new compliance check fix (#139)
  excalibur/ariel/algorithms.py
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

Update compose.yaml (#140)
  .docker/.env
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

proper cert and data persistence
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

proper configuration
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

134: make collector visible (#142)
  .docker/.env
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

revert back one version, so transit/states works on older RUNIDs
  excalibur/transit/states.py
Owners: @groudier

Update compose.yaml
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

pylint
  excalibur/transit/states.py
Owners: @groudier

pylint
  excalibur/transit/states.py
Owners: @groudier

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update compose.yaml (#145)
  .docker/.env
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

revert back so transit.whitelight plots work for old RUNIDs (#144)
  excalibur/transit/states.py
Owners: @groudier

autoformat
  excalibur/transit/states.py
Owners: @groudier

for rand-walker plot, shift the offset calculation into core
  excalibur/cerberus/plotters.py
Owners: @groudier

improved model-data offset calculation
  excalibur/cerberus/forward_model.py
Owners: @groudier

p used before definition
  excalibur/transit/states.py
Owners: @groudier

do not remove +-3H outliers for simulated data
  excalibur/cerberus/core.py
Owners: @groudier

pushing fixes and update to scrape_regression
  excalibur/target/algorithms.py
  excalibur/target/monitor.py
  excalibur/target/states.py
Owners: @nasa-jpl-exoplanet/internal

did the styling stuff
  excalibur/target/monitor.py
  excalibur/target/states.py
Owners: @nasa-jpl-exoplanet/internal

adding a single line to pass code quality check
  excalibur/target/states.py
Owners: @nasa-jpl-exoplanet/internal

too many branches fix
  excalibur/target/monitor.py
  excalibur/target/states.py
Owners: @nasa-jpl-exoplanet/internal

quality fixes
  excalibur/target/monitor.py
Owners: @nasa-jpl-exoplanet/internal

pushing fixes and update to scrape_regression (#148)
  excalibur/target/algorithms.py
  excalibur/target/monitor.py
  excalibur/target/states.py
Owners: @nasa-jpl-exoplanet/internal

remove print statement
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

etc bug cleaning (#146)
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
  excalibur/selftest/algorithms.py
  excalibur/transit/states.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

making the high-metallicity case smoother
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

consider case of empty HST data
  excalibur/transit/states.py
Owners: @groudier

add only-metals case to cloudy model
  excalibur/cerberus/core.py
Owners: @groudier

careful with empty HST case
  excalibur/cerberus/forward_model.py
Owners: @groudier

trying to handle excluded targets in a regression
  excalibur/target/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

autoformat
  excalibur/cerberus/core.py
Owners: @groudier

autoformat
  excalibur/target/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

fixing some bugs from bimodality-fixed run (#150)
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/target/algorithms.py
  excalibur/transit/states.py
  excalibur/util/cerberus.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

create placeholder TEA function (analogous to crbce)
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

in ariel, calculate both crbce and CEA equilib chem
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

note that transit uses crbce; change to TEA?
  excalibur/transit/core.py
Owners: @groudier

Update core.py
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

rename TEA boolean and TEA function to avoid confusion
  excalibur/ariel/core.py
  excalibur/cerberus/forward_model.py
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

autoformat
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal
