Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

Polish forward model notebook
  notebooks/cerberus.atmos.forwardmodel.ipynb
Owners: @nasa-jpl-exoplanet/internal

oops, still wrong
  excalibur/transit/core.py
Owners: @groudier

another bug (#391)
  excalibur/transit/core.py
Owners: @groudier

STATUS as boolean
  excalibur/cerberus/core.py
Owners: @groudier

lint
  excalibur/cerberus/core.py
Owners: @groudier

out[data] has to be a ValuesDict, not a dict
  excalibur/cerberus/core.py
Owners: @groudier

Style
  excalibur/cerberus/algorithms.py
  excalibur/util/dev.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

DaSecurity
  excalibur/util/dev.py
Owners: @nasa-jpl-exoplanet/internal

DaStyle
  excalibur/cerberus/core.py
  excalibur/util/dev.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

DaFStyLe
  excalibur/util/dev.py
Owners: @nasa-jpl-exoplanet/internal

Dev tools (#394)
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/util/dev.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

updated docstrings to match changes after CIs
  excalibur/util/dev.py
Owners: @nasa-jpl-exoplanet/internal

cubic interp off during debug
  excalibur/cerberus/teagrid.py
Owners: @groudier

Added view for JWST norm SV
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
  excalibur/transit/states.py
Owners: @groudier

Added views, verboses, new t0 for WASP-49
  excalibur/data/algorithms.py
  excalibur/data/core.py
  excalibur/data/coreview.py
  excalibur/system/algorithms.py
  excalibur/system/overwriter.py
  excalibur/util/dev.py
Owners: @nasa-jpl-exoplanet/internal

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
