Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

oops. left in old Tparams
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

selection between various non-isothermal models
  excalibur/cerberus/core.py
Owners: @groudier

Conflicts
  excalibur/cerberus/forward_model.py
Owners: @groudier

corrections_v4
  excalibur/cerberus/atom_xsec.py
Owners: @groudier

Conflicts
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

Conflicts
  excalibur/cerberus/atom_xsec.py
Owners: @groudier

Conflicts
  excalibur/cerberus/forward_model.py
Owners: @groudier

Conflicts
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

Conflicts
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

Conflicts
  excalibur/cerberus/atom_xsec.py
Owners: @groudier

Conflicts
  excalibur/cerberus/forward_model.py
Owners: @groudier

follow-up bugs from P-T profile, etc (#338)
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/cerberus/core.py
  excalibur/cerberus/plotters.py
  excalibur/hwo/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

follow-up bugs from P-T profile, etc (#338)
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/cerberus/core.py
  excalibur/cerberus/plotters.py
  excalibur/hwo/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

conflicts
  excalibur/cerberus/atom_xsec.py
Owners: @groudier

conflicts
  excalibur/cerberus/forward_model.py
Owners: @groudier

conflicts
  excalibur/cerberus/forward_model.py
Owners: @groudier

conflicts
  excalibur/cerberus/atom_xsec.py
Owners: @groudier

conflicts
  excalibur/cerberus/atom_xsec.py
Owners: @groudier

corrections_v3
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

conflicts
  excalibur/cerberus/atom_xsec.py
Owners: @groudier

conflicts
  excalibur/cerberus/forward_model.py
  excalibur/util/cerberus.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

conflicts
  excalibur/cerberus/atom_xsec.py
Owners: @groudier

Conflicts
  excalibur/cerberus/forward_model.py
Owners: @groudier

conflicts
  excalibur/cerberus/atom_xsec.py
Owners: @groudier

conflicts
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

Conflicts
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

conflicts
  excalibur/cerberus/forward_model.py
Owners: @groudier

conflicts
  excalibur/cerberus/forward_model.py
Owners: @groudier

conflicts
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

extra )
  excalibur/cerberus/forward_model.py
Owners: @groudier

DaStYlE
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

tran sit view bug
  excalibur/transit/states.py
Owners: @groudier

Fix to transit.spectrum view
  excalibur/transit/states.py
Owners: @groudier

DaStYlE
  excalibur/transit/states.py
Owners: @groudier

Speed up Cerberus FM by Constantino
  excalibur/cerberus/forward_model.py
Owners: @groudier

DaStYlE
  excalibur/transit/states.py
Owners: @groudier

Fix to transit.spectrum view
  excalibur/transit/states.py
Owners: @groudier

tran sit view bug
  excalibur/transit/states.py
Owners: @groudier

Speed up Cerberus FM by Constantino (#345)
  excalibur/cerberus/forward_model.py
  excalibur/transit/states.py
Owners: @groudier

modif forward model
  excalibur/cerberus/forward_model.py
Owners: @groudier

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
