Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

normalization LD law (#289)
  excalibur/transit/core.py
Owners: @groudier

new batch of Archive planets
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

Arielrad and target update (#283)
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/core.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/gemli/algorithms.py
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
  excalibur/target/edit.py
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

mistake_correction_LD
  excalibur/transit/core.py
Owners: @groudier

remove runtime from target.create (num_repeats); its circular
  excalibur/target/algorithms.py
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

LD_renormalization_corr2
  excalibur/transit/core.py
Owners: @groudier

save the reduced-chi2 values for each walker step
  excalibur/cerberus/core.py
Owners: @groudier

remove logLikelihood normalization, so its like chi-squared
  excalibur/util/tensor.py
Owners: @nasa-jpl-exoplanet/internal

fix bug for the no-CO/cloudfree case
  excalibur/cerberus/forward_model.py
Owners: @groudier

update plotter to include chi2-reduced in corner
  excalibur/cerberus/plotters.py
Owners: @groudier

named_tuple removed from target.create
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/cerberus/core.py
Owners: @groudier

lint
  excalibur/target/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

use profiletrace minmax for corner, not alltrace minmax
  excalibur/cerberus/plotters.py
Owners: @groudier

rename profile mask
  excalibur/cerberus/bounds.py
Owners: @groudier

JWST flares bug fixes, complete first pass
  excalibur/phasecurve/flare_det.py
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

update cerb.results plots too
  excalibur/cerberus/plotters.py
Owners: @groudier

switch deterministic from logL to chi2
  excalibur/cerberus/core.py
Owners: @groudier

Set up HWO instrument model - stellar BB, shot noise
  excalibur/hwo/hwo_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

Resolve merge conflicts
  excalibur/phasecurve/core.py
Owners: @nasa-jpl-exoplanet/internal

new T0 for GJ 357
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

pass system params into hwo-instrument
  excalibur/hwo/core.py
Owners: @nasa-jpl-exoplanet/internal

use actual star props for blackbody
  excalibur/hwo/hwo_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

fix units
  excalibur/hwo/hwo_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

Update despot.py
  excalibur/presumptive/despot.py
Owners: @nasa-jpl-exoplanet/internal

Update despot.py (#297)
  excalibur/presumptive/despot.py
Owners: @nasa-jpl-exoplanet/internal

add 5 new target lists; one for each JWST filter
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

update_light_curve_normalization
  excalibur/transit/core.py
Owners: @groudier

fix gemli.analysis plot bug (handle NaNs)
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

edit target list name typo
  excalibur/cerberus/algorithms.py
Owners: @groudier

update from app to api
  excalibur/presumptive/fsm.py
  excalibur/presumptive/mia.py
Owners: @nasa-jpl-exoplanet/internal

content not context
  excalibur/presumptive/mia.py
Owners: @nasa-jpl-exoplanet/internal

update to full dawgie release
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

patch up testing
  test/test_02.py
Owners: @nasa-jpl-exoplanet/internal

301: update from app to api (#302)
  .docker/.env
  excalibur/presumptive/fsm.py
  excalibur/presumptive/mia.py
  requirements.txt
  test/test_02.py
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

LD_renormalization_corr2
  excalibur/transit/core.py
Owners: @groudier

mistake_correction_LD
  excalibur/transit/core.py
Owners: @groudier

update_light_curve_normalization
  excalibur/transit/core.py
Owners: @groudier

modif_Cerberus_forward_model
  envs/.ipynb_checkpoints/admeziem-checkpoint
  envs/.ipynb_checkpoints/alsCluster-checkpoint
  envs/.ipynb_checkpoints/alsMT-checkpoint
  envs/.ipynb_checkpoints/bryden-checkpoint
  envs/.ipynb_checkpoints/cbernard-checkpoint
  envs/.ipynb_checkpoints/hirota-checkpoint
  envs/.ipynb_checkpoints/imertz-checkpoint
  envs/.ipynb_checkpoints/tokadjia-checkpoint
  envs/cbernard
  excalibur/cerberus/.ipynb_checkpoints/algorithms-checkpoint.py
  excalibur/cerberus/.ipynb_checkpoints/bounds-checkpoint.py
  excalibur/cerberus/.ipynb_checkpoints/core-checkpoint.py
  excalibur/cerberus/.ipynb_checkpoints/fmcontext-checkpoint.py
  excalibur/cerberus/.ipynb_checkpoints/forward_model-checkpoint.py
  excalibur/selftest/.ipynb_checkpoints/algorithms-checkpoint.py
  excalibur/system/.ipynb_checkpoints/constants-checkpoint.py
  excalibur/system/.ipynb_checkpoints/core-checkpoint.py
  excalibur/transit/.ipynb_checkpoints/algorithms-checkpoint.py
  excalibur/transit/.ipynb_checkpoints/core-checkpoint.py
  excalibur/util/.ipynb_checkpoints/cerberus-checkpoint.py
  excalibur/util/.ipynb_checkpoints/time-checkpoint.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

new ariel models for gemli molecules and for water-only
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
