Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

esp version update again
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

retest pypi deployment trouble
  excalibur/phasecurve/flare_det.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt (#261)
  .docker/.env
  excalibur/ancillary/__main__.py
  excalibur/ariel/__main__.py
  excalibur/cerberus/__main__.py
  excalibur/classifier/__main__.py
  excalibur/data/__main__.py
  excalibur/eclipse/__main__.py
  excalibur/gemli/__main__.py
  excalibur/hwo/__main__.py
  excalibur/phasecurve/__main__.py
  excalibur/runtime/__main__.py
  excalibur/selftest/__main__.py
  excalibur/system/__main__.py
  excalibur/target/__main__.py
  excalibur/transit/__main__.py
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal, @groudier

ran version.sh again for ESP_VERSION
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update Dockerfile.worker
  .docker/Dockerfile.worker
Owners: @nasa-jpl-exoplanet/admin

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#262)
  .docker/.env
  .docker/Dockerfile.worker
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

update ESP version again
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

fix forked ref
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

update ESP version
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Flare detection (#258)
  .docker/.env
  excalibur/phasecurve/core.py
  excalibur/phasecurve/flare_det.py
  excalibur/phasecurve/flare_det_context.py
  excalibur/phasecurve/flare_det_utils.py
  excalibur/phasecurve/states.py
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

merge with main
  excalibur/__init__.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#263)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#264)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#265)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#266)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

new build too
  .docker/Dockerfile
  .docker/Dockerfile.worker
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

clean up 808 references
  envs/ops
  excalibur/README.md
  tools/README.md
Owners: @nasa-jpl-exoplanet/internal, @nasa-jpl-exoplanet/admin

clean up /app/ references
  tools/pp_reset.sh
Owners: @nasa-jpl-exoplanet/admin

docker compose build whines
  .docker/Dockerfile
Owners: @nasa-jpl-exoplanet/admin

newest version
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

UI upgrade (#269)
  .docker/.env
  .docker/Dockerfile
  .docker/Dockerfile.worker
  .docker/compose.yaml
  envs/ops
  excalibur/README.md
  tools/README.md
  tools/pp_reset.sh
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update version.sh
  .docker/version.sh
Owners: @nasa-jpl-exoplanet/admin

cleanup
  .docker/.env
  .docker/Dockerfile.base
  .docker/Dockerfile.server
  .docker/Dockerfile.tools
  .docker/Dockerfile.worker
Owners: @nasa-jpl-exoplanet/admin

some worker touch up
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update version.sh (#270)
  .docker/.env
  .docker/Dockerfile.base
  .docker/Dockerfile.server
  .docker/Dockerfile.tools
  .docker/Dockerfile.worker
  .docker/compose.yaml
  .docker/version.sh
Owners: @nasa-jpl-exoplanet/admin

Update Dockerfile
  .docker/Dockerfile
Owners: @nasa-jpl-exoplanet/admin

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin
