Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

modif forward model t-p profile (#348)
  excalibur/cerberus/forward_model.py
Owners: @groudier

slight cleanup
  excalibur/cerberus/forward_model.py
Owners: @groudier

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#350)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

modif_tea_interpolation
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

cistyle_modif
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

modif_typo
  excalibur/cerberus/forward_model.py
Owners: @groudier

modif_tea_interpolation (#351)
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

GJ1214 system update
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

DaStYlE
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

GJ1214 system update (#353)
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

fix ignore for overwriten
  excalibur/system/core.py
Owners: @nasa-jpl-exoplanet/internal

add t0 for Kepler-453b
  excalibur/system/algorithms.py
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

fix that mlfit plot bug (saved_chi2s name mismatch)
  excalibur/cerberus/plotters.py
  excalibur/gemli/core.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

external install modif for windows OS
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

verbose show plot
  excalibur/cerberus/plotters.py
Owners: @groudier

lint
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

dont load big atom files; set chains to match cores
  excalibur/cerberus/core.py
Owners: @groudier

lint
  excalibur/cerberus/core.py
Owners: @groudier

lint
  excalibur/cerberus/plotters.py
Owners: @groudier

move grid reader functions outside of core
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/core.py
  excalibur/cerberus/teagrid.py
Owners: @groudier

relocation dir defs; use consistently
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/core.py
  excalibur/cerberus/teagrid.py
Owners: @groudier

add some imports
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/teagrid.py
Owners: @groudier

add some imports
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/core.py
  excalibur/cerberus/teagrid.py
Owners: @groudier

lint
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/teagrid.py
Owners: @groudier

code shame
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/teagrid.py
Owners: @groudier

lint
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/core.py
Owners: @groudier

lint
  excalibur/cerberus/core.py
Owners: @groudier

Update external installation changes
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

don't load in large atom-xsec files
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
  excalibur/cerberus/teagrid.py
  excalibur/gemli/core.py
  excalibur/system/algorithms.py
  excalibur/system/core.py
  excalibur/system/overwriter.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

add chemistry (TEA/TEC option) to cerb context
  excalibur/cerberus/fmcontext.py
Owners: @groudier

add TiO to TEA calculation
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

make sure TEA grid interp can handle out-of-bounds
  excalibur/cerberus/teagrid.py
Owners: @groudier

also atom-xsec out-of-bounds
  excalibur/cerberus/atom_xsec.py
Owners: @groudier

modify retrieval for TEA and TEA-interp-grid
  excalibur/cerberus/core.py
Owners: @groudier

modify retrieval for TEA and TEA-interp-grid
  excalibur/cerberus/forward_model.py
Owners: @groudier

temp del
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/core.py
  excalibur/cerberus/teagrid.py
Owners: @groudier

test
  excalibur/cerberus/core.py
  excalibur/util/cerberus.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

edit title for a gemli plot
  excalibur/gemli/states.py
Owners: @nasa-jpl-exoplanet/internal

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
