Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

Update Dockerfile (#271)
  .docker/.env
  .docker/Dockerfile
Owners: @nasa-jpl-exoplanet/admin

Flare detection and fitting, bug fixes
  excalibur/__init__.py
  excalibur/phasecurve/algorithms.py
  excalibur/phasecurve/core.py
  excalibur/phasecurve/states.py
Owners: @nasa-jpl-exoplanet/internal

add more options for flaredetection call
  excalibur/phasecurve/core.py
Owners: @nasa-jpl-exoplanet/internal

a bunch more plotting stuff in states.py
  excalibur/phasecurve/states.py
Owners: @nasa-jpl-exoplanet/internal

flaredetection pass in the target name
  excalibur/phasecurve/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

major update to flare detection
  excalibur/phasecurve/flare_det.py
Owners: @nasa-jpl-exoplanet/internal

some updates to flare utils
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/algorithms.py
  excalibur/phasecurve/flare_det.py
  excalibur/phasecurve/states.py
Owners: @nasa-jpl-exoplanet/internal

use-implicit-booleaness-not-len
  excalibur/phasecurve/flare_det.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/algorithms.py
  excalibur/phasecurve/flare_det.py
  excalibur/phasecurve/flare_det_utils.py
  excalibur/phasecurve/states.py
Owners: @nasa-jpl-exoplanet/internal

lint change didnt work; try this instead
  excalibur/phasecurve/flare_det.py
Owners: @nasa-jpl-exoplanet/internal

test_01 says to change it back
  excalibur/__init__.py
Owners: @nasa-jpl-exoplanet/internal

syntax fix
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

updated flare detection & related plots (#274)
  excalibur/phasecurve/algorithms.py
  excalibur/phasecurve/core.py
  excalibur/phasecurve/flare_det.py
  excalibur/phasecurve/flare_det_utils.py
  excalibur/phasecurve/states.py
Owners: @nasa-jpl-exoplanet/internal

norm 1.1.10
  excalibur/transit/core.py
Owners: @groudier

CI
  excalibur/transit/core.py
Owners: @groudier

Update core.py
  excalibur/transit/core.py
Owners: @groudier

norm 1.1.10 (#275)
  excalibur/transit/core.py
Owners: @groudier

clean up code a bit
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal

extra panel added to gemli analysis (truth-fit)/error
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

Prep update LD and science whitelight
  excalibur/transit/core.py
Owners: @groudier

CIs
  excalibur/transit/core.py
Owners: @groudier

CIs
  excalibur/transit/core.py
Owners: @groudier

277 lady of the lake lds and jwst transit whitelight prep for science (#278)
  excalibur/transit/core.py
Owners: @groudier

My comments
  excalibur/cerberus/__main__.py
  excalibur/cerberus/forward_model.py
  excalibur/data/core.py
  excalibur/transit/core.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

add new arielrad option; individual file for each target
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

new format arielrad reader
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

switch pickles to jasons
  excalibur/ariel/ariel_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/ariel/ariel_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/ariel/ariel_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

gemli analysis plots (#276)
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/core.py
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

Spitzer flare detection updates. Can now run flares subtask alone with PHASECURVE_SUBTASK=flares
  excalibur/phasecurve/__main__.py
  tools/pp_exec.sh
Owners: @nasa-jpl-exoplanet/internal, @nasa-jpl-exoplanet/admin

Add phasecurve flare detection files
  excalibur/phasecurve/flare_det.py
  excalibur/phasecurve/flare_det_context.py
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

Ignore phasecurve backup files
  .gitignore
Owners: @nasa-jpl-exoplanet/internal

Start setting up phasecurve flare detection for JWST
  excalibur/phasecurve/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal
