Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

want a perfect score
  .github/workflows/static_analysis.yaml
Owners: @nasa-jpl-exoplanet/admin

add pyproject.toml to pyroma happy
  pyproject.toml
Owners: @nasa-jpl-exoplanet/internal

Issue 125: add pyproject.toml (#128)
  .github/workflows/static_analysis.yaml
  pyproject.toml
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

fixing the metal and CtoO but no T fitting case
  excalibur/cerberus/forward_model.py
Owners: @groudier

modified param names for metallicity-only-fitting case
  excalibur/cerberus/core.py
  excalibur/cerberus/plotters.py
Owners: @groudier

pylint
  excalibur/cerberus/core.py
Owners: @groudier

pylint
  excalibur/cerberus/core.py
Owners: @groudier

be careful with TEC[0] in the metals-only-fit case
  excalibur/cerberus/core.py
Owners: @groudier

be careful with TEC[0] in the metals-only-fit case
  excalibur/selftest/core.py
Owners: @nasa-jpl-exoplanet/internal

if only 1 fit param, plot histogram instead of corner plot
  excalibur/cerberus/plotters.py
Owners: @groudier

pylint
  excalibur/cerberus/plotters.py
Owners: @groudier

pylint
  excalibur/cerberus/plotters.py
Owners: @groudier

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

self-retrieval testing (#118)
  envs/bryden
  excalibur/ariel/algorithms.py
  excalibur/ariel/core.py
  excalibur/ariel/states.py
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/example.xml
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
  excalibur/selftest/__init__.py
  excalibur/selftest/__main__.py
  excalibur/selftest/algorithms.py
  excalibur/selftest/bot.py
  excalibur/selftest/core.py
  excalibur/selftest/plotters.py
  excalibur/system/algorithms.py
  excalibur/system/autofill.py
  excalibur/system/consistency.py
  excalibur/system/core.py
  excalibur/system/overwriter.py
  excalibur/system/states.py
  excalibur/target/algorithms.py
  excalibur/target/core.py
  excalibur/target/edit.py
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Update requirements.txt (#129)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

added databases_validation SV
  envs/hirota
  excalibur/target/__init__.py
  excalibur/target/__main__.py
  excalibur/target/algorithms.py
  excalibur/target/bot.py
  excalibur/target/monitor.py
  excalibur/target/states.py
Owners: @nasa-jpl-exoplanet/internal

fixed up view() for databases_validation sv
  excalibur/target/__init__.py
  excalibur/target/__main__.py
  excalibur/target/algorithms.py
  excalibur/target/bot.py
  excalibur/target/monitor.py
  excalibur/target/states.py
Owners: @nasa-jpl-exoplanet/internal

fixed code qaulity
  excalibur/target/__init__.py
  excalibur/target/bot.py
  excalibur/target/monitor.py
  excalibur/target/states.py
Owners: @nasa-jpl-exoplanet/internal

added status vs runid plot
  excalibur/target/algorithms.py
  excalibur/target/monitor.py
  excalibur/target/states.py
Owners: @nasa-jpl-exoplanet/internal

cis
  excalibur/target/monitor.py
  excalibur/target/states.py
Owners: @nasa-jpl-exoplanet/internal

Adding quality monitoring flag for target.scrape.databases
  envs/hirota
  excalibur/target/__main__.py
  excalibur/target/algorithms.py
  excalibur/target/bot.py
  excalibur/target/monitor.py
  excalibur/target/states.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#133)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Dead code in target
  excalibur/target/__main__.py
  excalibur/target/algorithms.py
  excalibur/target/bot.py
  excalibur/target/monitor.py
  excalibur/target/states.py
Owners: @nasa-jpl-exoplanet/internal

CIs
  excalibur/target/states.py
Owners: @nasa-jpl-exoplanet/internal

Dead code in target (#137)
  excalibur/target/__main__.py
  excalibur/target/algorithms.py
  excalibur/target/bot.py
  excalibur/target/monitor.py
  excalibur/target/states.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#138)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

pylint compliance: could not resolve includemetallicitydispersion
  excalibur/ariel/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

pylint compliance: could not resolve includemetallicitydispersion
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

pylint compliance: could not resolve includemetallicitydispersion
  excalibur/ariel/algorithms.py
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

unused import
  excalibur/ariel/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

Update compose.yaml
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

Update compose.yaml
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

Update compose.yaml
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

bare essentials for splunk
  .docker/.env
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin
