Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

allow for scaling of SNR in ariel sims
  excalibur/ariel/algorithms.py
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

autoformat
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
Owners: @groudier

change pnet to ctxt.planet
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

using runtime to set context
  excalibur/cerberus/fmcontext.py
Owners: @groudier

remove runtime from context; just values from it go there
  excalibur/cerberus/fmcontext.py
Owners: @groudier

add runtime params to cerb.xslib
  excalibur/cerberus/algorithms.py
Owners: @groudier

use runtime param for xslib; make orbp an optional param for crbmodel
  excalibur/cerberus/core.py
Owners: @groudier

adjust crbmodel so it can still be run from ariel and from notebooks
  excalibur/cerberus/forward_model.py
Owners: @groudier

autoupdate runtime binding
  excalibur/runtime/binding.py
Owners: @nasa-jpl-exoplanet/internal

include pressure grid parameters in ariel runtime
  excalibur/ariel/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

include pressure grid parameters in ariel runtime
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

oof. UNFIXED bug where SNRfactor comes in as None
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

remove unneeded rename
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

use model_params as orbp (in ariel)
  excalibur/ariel/forward_models.py
Owners: @nasa-jpl-exoplanet/internal

fixes for target.scrape to not download uncalibrated JWST files
  excalibur/cerberus/core.py
  excalibur/data/core.py
  excalibur/target/core.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

new push, i forgot to remove a pdb set trace
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

pylint changes
  excalibur/cerberus/forward_model.py
Owners: @groudier

remove debuggin print
  excalibur/cerberus/forward_model.py
Owners: @groudier

ci checks done
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

pylint
  excalibur/cerberus/bounds.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

clean up crbmodel param list
  excalibur/ariel/forward_models.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/util/tensor.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

no keys for ctxt that comes in as None
  excalibur/cerberus/forward_model.py
Owners: @groudier

autoformat
  excalibur/cerberus/bounds.py
Owners: @groudier

typo
  excalibur/ariel/forward_models.py
Owners: @nasa-jpl-exoplanet/internal

remove print statement
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
Owners: @groudier

boolVals dont have values
  excalibur/cerberus/algorithms.py
Owners: @groudier

autoformat
  excalibur/cerberus/algorithms.py
Owners: @groudier

dont assume pressure grid in ariel
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

remove unused wavelength arrays in offsetX()
  excalibur/cerberus/forward_model.py
Owners: @groudier

increase shame level
  excalibur/cerberus/fmcontext.py
Owners: @groudier

pylint fixing still
  excalibur/cerberus/bounds.py
Owners: @groudier

ci checks done without black
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

final ci checks
  envs/imertz
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

revert excalibur cerberus core py
  excalibur/cerberus/core.py
Owners: @groudier

fix target scrape for HST
  envs/imertz
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

cerb.atmos always includes clouds for non-simulated data (e.g. HST)
  excalibur/cerberus/core.py
Owners: @groudier

fix target scrape for HST (#115)
  envs/imertz
  excalibur/cerberus/core.py
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

autoformat
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

change levers floats to decimals
  excalibur/runtime/binding.py
  excalibur/runtime/levers.xsd
Owners: @nasa-jpl-exoplanet/internal

update autogen
  excalibur/runtime/autogen.md5
Owners: @nasa-jpl-exoplanet/internal
