Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

cleaning cerb.atmos.crbmodel runtime naming scheme
  excalibur/ariel/algorithms.py
  excalibur/cerberus/algorithms.py
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/example.xml
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

update binding and autogen
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
Owners: @nasa-jpl-exoplanet/internal

autoformat
  excalibur/cerberus/algorithms.py
Owners: @groudier

update binding and autogen
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
Owners: @nasa-jpl-exoplanet/internal

drop that superfluous SNRfactor test case
  excalibur/runtime/core.py
  excalibur/runtime/example.xml
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

drop print statement
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

rename rayleigh as HScale
  excalibur/ariel/forward_models.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

rename hza as HScale
  excalibur/ariel/forward_models.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

rename hza as HScale
  excalibur/cerberus/plotters.py
Owners: @groudier

rename hzloc as HLoc
  excalibur/ariel/forward_models.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

rename hztop as HLoc
  excalibur/ariel/forward_models.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

rename hzthick as HThick
  excalibur/ariel/forward_models.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

rename hzwscale as HThick
  excalibur/ariel/forward_models.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

rename hzslope as HSlope
  excalibur/cerberus/forward_model.py
Owners: @groudier

actually use hazescale not HScale for params (snakecase)
  excalibur/ariel/forward_models.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

actually use hazeloc not HLoc for params (snakecase)
  excalibur/ariel/forward_models.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

actually use hazethick not HThick for params (snakecase)
  excalibur/ariel/forward_models.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

hzp rename to hazeprof
  excalibur/cerberus/forward_model.py
Owners: @groudier

more haze rename
  excalibur/cerberus/forward_model.py
Owners: @groudier

use none for default params; ctxt doesnt work there
  excalibur/cerberus/forward_model.py
Owners: @groudier

consistently use rp0 (drop solidr)
  excalibur/ariel/forward_models.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

autoformat
  excalibur/cerberus/plotters.py
Owners: @groudier

drop option on single gettau param
  excalibur/cerberus/forward_model.py
Owners: @groudier

oops deleted a bit
  excalibur/cerberus/core.py
Owners: @groudier

dang. another small edit needed to avoid cerb.atmos failure in HST cloud-free case
  excalibur/cerberus/core.py
Owners: @groudier

more runtime parameters (#108)
  excalibur/ariel/algorithms.py
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/example.xml
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
  excalibur/system/algorithms.py
  excalibur/util/tensor.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

arg, dont fix cloud params for HST case (with no-cloud option being ignored)
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
Owners: @groudier

logic mistake
  excalibur/cerberus/bounds.py
Owners: @groudier

98 include new parameters in runtime part2b (#116)
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
Owners: @groudier

fix bug for metallicity-only fitting
  excalibur/cerberus/bounds.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

oops. delete that temp code
  excalibur/cerberus/forward_model.py
Owners: @groudier

pylint
  excalibur/cerberus/bounds.py
Owners: @groudier

pylint
  excalibur/cerberus/bounds.py
Owners: @groudier

pylint
  excalibur/cerberus/bounds.py
Owners: @groudier

create testcerb task
  excalibur/testcerb/__init__.py
  excalibur/testcerb/__main__.py
  excalibur/testcerb/algorithms.py
  excalibur/testcerb/bot.py
  excalibur/testcerb/core.py
  excalibur/testcerb/states.py
Owners: @nasa-jpl-exoplanet/internal

6 new targets; from Marks cycle-4 search
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

handle non-existent Archive data for test targets
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

add a new test target called testJup
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

add new cycle-4 targets to targetlists
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

truncate test target name when looking up in overwrite list
  excalibur/system/algorithms.py
Owners: @nasa-jpl-exoplanet/internal
