Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

typo
  excalibur/cerberus/forward_model.py
Owners: @groudier

no longer loading whitelight into starspots
  excalibur/transit/algorithms.py
  excalibur/transit/starspots.py
Owners: @groudier

eval to make a float for Hs
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

more cleaning
  excalibur/cerberus/forward_model.py
Owners: @groudier

include the input limb darkening as a plot at bottom of page
  excalibur/transit/starspots.py
Owners: @groudier

add second panel to starspot lightcurve?
  excalibur/transit/spotmodel/plotters.py
Owners: @groudier

pylint checks
  excalibur/ariel/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

import again for returned plot
  excalibur/transit/starspots.py
Owners: @groudier

whoops, forgot to comment it out
  excalibur/cerberus/forward_model.py
Owners: @groudier

wrong syntax
  excalibur/transit/spotmodel/plotters.py
Owners: @groudier

turn off second panel
  excalibur/transit/spotmodel/plotters.py
Owners: @groudier

dont plot the simulated data on the model; easier to compare against earlier runid
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

unused variable
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

ariel/cerberus pymc debugging (#25)
  excalibur/ariel/core.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/phasecurve/states.py
  excalibur/transit/algorithms.py
  excalibur/transit/spotmodel/plotters.py
  excalibur/transit/starspots.py
  excalibur/transit/states.py
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

mcmc vs MCMC renaming bug
  excalibur/cerberus/algorithms.py
Owners: @groudier

finally fix the population histogram bug
  excalibur/util/plotters.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#36)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#37)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update algorithms.py
  excalibur/runtime/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

Update algorithms.py (#38)
  excalibur/runtime/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

removing parallelism in starspots
  excalibur/transit/spotmodel/eclipse_nv1.py
  excalibur/transit/spotmodel/star.py
Owners: @groudier

autoformat
  excalibur/transit/spotmodel/star.py
Owners: @groudier

pymc in cerberus (#35)
  excalibur/cerberus/algorithms.py
  excalibur/transit/spotmodel/eclipse_nv1.py
  excalibur/transit/spotmodel/star.py
  excalibur/util/plotters.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#39)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update algorithms.py
  excalibur/runtime/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

Update algorithms.py (#40)
  excalibur/runtime/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#41)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update algorithms.py
  excalibur/runtime/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

Update algorithms.py (#42)
  excalibur/runtime/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

remove old mmw/Hs calculation
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin
