Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

pylint
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

more pylint sigh
  excalibur/ariel/core.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/tea_code/python_runatm.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

update to latest dawgie
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

add new element
  excalibur/metrics/__init__.py
  excalibur/metrics/algorithms.py
  excalibur/metrics/bot.py
  excalibur/metrics/states.py
Owners: @nasa-jpl-exoplanet/internal

remove some dead code
  excalibur/runtime/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

add runs at boot
  excalibur/metrics/__init__.py
Owners: @nasa-jpl-exoplanet/internal

put in some helper text
  excalibur/metrics/states.py
Owners: @nasa-jpl-exoplanet/internal

style fix
  excalibur/metrics/algorithms.py
  excalibur/metrics/states.py
Owners: @nasa-jpl-exoplanet/internal

style fix
  excalibur/metrics/__init__.py
  excalibur/metrics/states.py
Owners: @nasa-jpl-exoplanet/internal

lint fixes
  excalibur/metrics/states.py
Owners: @nasa-jpl-exoplanet/internal

tested end to end
  excalibur/metrics/algorithms.py
  excalibur/metrics/states.py
Owners: @nasa-jpl-exoplanet/internal

Issue 143: display metric data (#158)
  .docker/.env
  excalibur/metrics/__init__.py
  excalibur/metrics/algorithms.py
  excalibur/metrics/bot.py
  excalibur/metrics/states.py
  excalibur/runtime/algorithms.py
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update algorithms.py
  excalibur/metrics/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

Update algorithms.py (#159)
  excalibur/metrics/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

add personal space
  .docker/.env
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

style, linters, and security fixes
  .github/workflows/bandit_baseline.json
  excalibur/metrics/algorithms.py
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Issue 160: fix up metrics.performance (#161)
  .docker/.env
  .docker/compose.yaml
  .github/workflows/bandit_baseline.json
  excalibur/metrics/algorithms.py
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update .env (#162)
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#163)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

last fix for the NaNs-when-plotting problem
  excalibur/cerberus/plotters.py
Owners: @groudier

autoformat
  excalibur/cerberus/plotters.py
Owners: @groudier

151 betterchem again (#156)
  excalibur/ariel/core.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
  excalibur/transit/core.py
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Updating overwriter.py for L 98-59
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

correction style convention
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

cistyle done
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

Correcting the cyclic import in overwriter.py
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

Updating overwriter.py for L 98-59 (#165)
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

Update overwriter.py
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

moved metrics to console
  excalibur/console/__init__.py
  excalibur/console/algorithms.py
  excalibur/console/bot.py
  excalibur/console/states.py
Owners: @nasa-jpl-exoplanet/internal

Update overwriter.py (#168)
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

new view of a data cube
  excalibur/console/states.py
Owners: @nasa-jpl-exoplanet/internal

fix up last of plots
  excalibur/console/algorithms.py
  excalibur/console/states.py
Owners: @nasa-jpl-exoplanet/internal

robust URL handling
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

Issue 166: update viewing metric information (#169)
  excalibur/console/__init__.py
  excalibur/console/algorithms.py
  excalibur/console/bot.py
  excalibur/console/states.py
  excalibur/metrics/algorithms.py
  excalibur/metrics/states.py
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

Update core.py
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

style fix
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal
