Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

nothing
  excalibur/cerberus/forward_model.py
  excalibur/util/tensor.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

initialize ctxt, for pylint happiness
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/util/tensor.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

Cerberus with clouds (#91)
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/states.py
  excalibur/util/tensor.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

fix proj/sdp/data path for ariel clouds file
  excalibur/ariel/clouds.py
Owners: @nasa-jpl-exoplanet/internal

autoformay
  excalibur/ariel/clouds.py
Owners: @nasa-jpl-exoplanet/internal

remove print statements
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

remove prints
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

move the plot labels to the right
  excalibur/cerberus/plotters.py
Owners: @groudier

autoformat
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

fix up the cloudtop interpolation
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

typo
  excalibur/cerberus/forward_model.py
Owners: @groudier

remove unused var
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

more satisfactory fix
  envs/ops
  tools/README.md
  tools/pp_reset.sh
Owners: @nasa-jpl-exoplanet/internal, @nasa-jpl-exoplanet/admin

have multiple pps
  envs/alsCluster
Owners: @nasa-jpl-exoplanet/internal

fill in username with ops
  tools/pp_reset.sh
Owners: @nasa-jpl-exoplanet/admin

use a patched version of dawgie
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

89: fix reset.sh (#93)
  .docker/.env
  .docker/compose.yaml
  envs/alsCluster
  envs/ops
  requirements.txt
  tools/README.md
  tools/pp_reset.sh
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

cerberus/ariel cleanup (#92)
  excalibur/ariel/clouds.py
  excalibur/ariel/core.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
  excalibur/util/tensor.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

fixing_zero_impact_parameter
  excalibur/system/autofill.py
  excalibur/target/algorithms.py
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

data key missing from data for WASP-121 et al
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

handling impact=0 div-0 error (from ines)
  excalibur/system/autofill.py
Owners: @nasa-jpl-exoplanet/internal

autoformat
  excalibur/system/autofill.py
Owners: @nasa-jpl-exoplanet/internal

69 hst 2025 (#94)
  excalibur/system/autofill.py
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

updating target create version for HSTrun
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

CI checks for update
  excalibur/target/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

CI check
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

updating target create version HST run 👍 (#95)
  excalibur/target/core.py
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Latest dawgie version
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Corrections to target.core and __init__ file
  excalibur/__init__.py
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

adding log warning in core.py
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

CI fix
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

Corrections in target.core.py and __init__.py (#100)
  excalibur/__init__.py
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

Lagger function before ds.update()
  excalibur/__init__.py
  excalibur/ariel/algorithms.py
  excalibur/cerberus/algorithms.py
  excalibur/data/algorithms.py
  excalibur/phasecurve/algorithms.py
  excalibur/runtime/algorithms.py
  excalibur/system/algorithms.py
  excalibur/target/algorithms.py
  excalibur/transit/algorithms.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

CIds
  excalibur/__init__.py
  excalibur/ariel/algorithms.py
  excalibur/cerberus/algorithms.py
  excalibur/data/algorithms.py
  excalibur/phasecurve/algorithms.py
  excalibur/runtime/algorithms.py
  excalibur/system/algorithms.py
  excalibur/target/algorithms.py
  excalibur/transit/algorithms.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Da Style
  excalibur/__init__.py
Owners: @nasa-jpl-exoplanet/internal

Lagger function before ds.update() (#102)
  excalibur/__init__.py
  excalibur/ariel/algorithms.py
  excalibur/cerberus/algorithms.py
  excalibur/data/algorithms.py
  excalibur/phasecurve/algorithms.py
  excalibur/runtime/algorithms.py
  excalibur/system/algorithms.py
  excalibur/target/algorithms.py
  excalibur/transit/algorithms.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
