Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

target scrape HST fix (#123)
  excalibur/target/algorithms.py
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

fix up HiLoValues a bit (e.g. so it prints ok)
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

add runtime_params to target (for Nrepeats on target.create)
  excalibur/system/consistency.py
  excalibur/target/algorithms.py
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

add two more runtime params (cornerBins and Nrepeats)
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/example.xml
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

drop float() now that runtime drops decimal type
  excalibur/ariel/forward_models.py
Owners: @nasa-jpl-exoplanet/internal

drop float() now that runtime drops decimal type
  excalibur/ariel/forward_models.py
Owners: @nasa-jpl-exoplanet/internal

dont run ariel for test targets (and then nothing for cerberus to run)
  excalibur/ariel/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

typo
  excalibur/ariel/forward_models.py
Owners: @nasa-jpl-exoplanet/internal

using runtime for prior bounds, except aspects still not working
  excalibur/cerberus/bounds.py
Owners: @groudier

use more bins in corner plot histos
  excalibur/cerberus/plotters.py
Owners: @groudier

use more bins in corner plot histos
  excalibur/cerberus/core.py
Owners: @groudier

include number of histo bins in runtime
  excalibur/cerberus/algorithms.py
Owners: @groudier

oops left in one decimal type
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/levers.xsd
Owners: @nasa-jpl-exoplanet/internal

updated figures for testcerb.analysis
  excalibur/testcerb/core.py
Owners: @nasa-jpl-exoplanet/internal

updated figures for testcerb.analysis
  excalibur/testcerb/plotters.py
Owners: @nasa-jpl-exoplanet/internal

clean alg a bit for testcerb.analysis
  excalibur/testcerb/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

autoformatting
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/states.py
  excalibur/target/algorithms.py
  excalibur/target/core.py
  excalibur/testcerb/algorithms.py
  excalibur/testcerb/core.py
  excalibur/testcerb/plotters.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

EXCALIBUR_LEVER_AND_KNOB_SETTINGS not needed in personal env setup
  envs/bryden
Owners: @nasa-jpl-exoplanet/internal

pylint
  excalibur/cerberus/algorithms.py
  excalibur/target/core.py
  excalibur/testcerb/algorithms.py
  excalibur/testcerb/core.py
  excalibur/testcerb/plotters.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

pylint
  excalibur/target/core.py
  excalibur/testcerb/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

states not needed for testcerb; use cerberus states
  excalibur/testcerb/states.py
Owners: @nasa-jpl-exoplanet/internal

format
  excalibur/testcerb/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

oops left out cornerbins runtime param
  excalibur/testcerb/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

another cornerBins param missing
  excalibur/testcerb/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

change runtime param name from testcerb to selftest
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/example.xml
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

pylint
  excalibur/runtime/states.py
  excalibur/system/consistency.py
  excalibur/target/algorithms.py
  excalibur/testcerb/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

renaming task testcerb as selftest
  excalibur/selftest/__init__.py
  excalibur/selftest/__main__.py
  excalibur/selftest/algorithms.py
  excalibur/selftest/bot.py
  excalibur/selftest/core.py
  excalibur/selftest/plotters.py
Owners: @nasa-jpl-exoplanet/internal

pylint
  excalibur/selftest/plotters.py
  excalibur/testcerb/plotters.py
Owners: @nasa-jpl-exoplanet/internal

pylint
  excalibur/testcerb/plotters.py
Owners: @nasa-jpl-exoplanet/internal

pylint
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

addressing issue #125
  .github/workflows/static_analysis.yaml
Owners: @nasa-jpl-exoplanet/admin

getting rid of testcerb (renamed as selftest)
  excalibur/testcerb/__init__.py
  excalibur/testcerb/__main__.py
  excalibur/testcerb/algorithms.py
  excalibur/testcerb/bot.py
  excalibur/testcerb/core.py
  excalibur/testcerb/plotters.py
Owners: @nasa-jpl-exoplanet/internal

make chi distribution double bins and light grey and add legend
  excalibur/selftest/plotters.py
Owners: @nasa-jpl-exoplanet/internal

lighter grey histo; add legends
  excalibur/selftest/plotters.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update static_analysis.yaml
  .github/workflows/static_analysis.yaml
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#127)
  .docker/.env
  .github/workflows/static_analysis.yaml
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

add another plot legend
  excalibur/selftest/plotters.py
Owners: @nasa-jpl-exoplanet/internal

remove print
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
