Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

lint
  excalibur/cerberus/forward_model.py
Owners: @groudier

lint
  excalibur/hwo/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/hwo/core.py
Owners: @nasa-jpl-exoplanet/internal

oops
  excalibur/hwo/core.py
Owners: @nasa-jpl-exoplanet/internal

no ozone for now
  excalibur/cerberus/forward_model.py
Owners: @groudier

starting new algorithm for machine learning fit; temporarily named gemli
  excalibur/gemli/__init__.py
  excalibur/gemli/__main__.py
  excalibur/gemli/algorithms.py
  excalibur/gemli/bot.py
  excalibur/gemli/core.py
  excalibur/gemli/states.py
Owners: @nasa-jpl-exoplanet/internal

debug1
  excalibur/gemli/algorithms.py
  excalibur/gemli/core.py
  excalibur/gemli/states.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/algorithms.py
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/states.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

altaipony package needed for flare detection
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

comment added
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

bug fix from Gael for issue247
  excalibur/cerberus/forward_model.py
Owners: @groudier

add new inference task; remove old atmos,results tasks
  excalibur/gemli/__main__.py
  excalibur/gemli/algorithms.py
  excalibur/gemli/bot.py
  excalibur/gemli/core.py
  excalibur/gemli/states.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/states.py
Owners: @nasa-jpl-exoplanet/internal

remove profiled cerb.atmos fit from ML comparison
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/algorithms.py
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/algorithms.py
  excalibur/gemli/states.py
Owners: @nasa-jpl-exoplanet/internal

xgboost needed for alabaming
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

including ML fit code and plots
  excalibur/cerberus/plotters.py
  excalibur/gemli/core.py
  excalibur/gemli/states.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

move ML-unique plotter from cerberus to gemli
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

new spectrum plot for ML results
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

starting a new plot, for ML best fit spectrum
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

updates
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
  excalibur/gemli/states.py
Owners: @nasa-jpl-exoplanet/internal

more
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

more
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

docker version update
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

successful non-eq fmc call for ML model
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

calculate ML uncertainties
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal

JWST transit
  excalibur/cerberus/forward_model.py
  excalibur/data/core.py
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

OOpsie
  excalibur/cerberus/forward_model.py
Owners: @groudier

CI
  excalibur/transit/core.py
Owners: @groudier

lint
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

CI
  excalibur/transit/core.py
Owners: @groudier

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
