Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

autoformat
  excalibur/cerberus/core.py
Owners: @groudier

99 jwst in new code (#176)
  excalibur/cerberus/forward_model.py
  excalibur/data/core.py
  excalibur/data/states.py
  excalibur/util/nerdclub.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

sy_vmag_err1 should be sy_vmagerr1
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

sy_vmag_err1 should be sy_vmagerr1
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

take TEA out of cerberus; not used in retrievals
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

include chemistry option in ariel forward model
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
Owners: @nasa-jpl-exoplanet/internal

oops
  excalibur/ariel/forward_models.py
Owners: @nasa-jpl-exoplanet/internal

Gits file handling
  excalibur/data/core.py
  excalibur/util/nerdclub.py
Owners: @nasa-jpl-exoplanet/internal

Removing test mode
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

Fits file handling (#179)
  excalibur/data/core.py
  excalibur/util/nerdclub.py
Owners: @nasa-jpl-exoplanet/internal

pylint
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

remove atmosphere-wide averaging of mixing ratios
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

formatting
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

change CoRoTID 223977153 to CoRoT-32 (new name in Exoplanet Archive)
  excalibur/target/edit.py
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

pylint
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

pylint
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

Fits file handling (#179)
  excalibur/data/core.py
  excalibur/util/nerdclub.py
Owners: @nasa-jpl-exoplanet/internal

99 jwst in new code (#176)
  excalibur/cerberus/forward_model.py
  excalibur/data/core.py
  excalibur/data/states.py
  excalibur/util/nerdclub.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

Dropout
  excalibur/cerberus/forward_model_2d.py
Owners: @groudier

full 2D atm
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/forward_model_2d.py
Owners: @groudier

sy_vmag_err1 should be sy_vmagerr1
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

update targetlist (#174)
  excalibur/system/core.py
  excalibur/target/core.py
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

style
  excalibur/cerberus/forward_model.py
Owners: @groudier

lint
  excalibur/ariel/forward_models.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

CI
  excalibur/cerberus/forward_model.py
Owners: @groudier

173 tp profile 2d gettau (#181)
  excalibur/ariel/forward_models.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

verbose
  excalibur/cerberus/forward_model.py
Owners: @groudier

fixing the suggestion
  excalibur/cerberus/forward_model.py
Owners: @groudier

182 cerberus verbose items (#183)
  excalibur/cerberus/forward_model.py
Owners: @groudier

internediate state
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

adjusting the path to tea data
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

first step toward removing multiprocessing from TEA
  excalibur/util/tea_code/python_makeatm.py
  excalibur/util/tea_code/python_runatm.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#184)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

pylint
  excalibur/cerberus/forward_model.py
  excalibur/util/cerberus.py
  excalibur/util/tea_code/python_runatm.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

removed multiprocessing from TEA
  excalibur/util/cerberus.py
  excalibur/util/tea_code/python_runatm.py
Owners: @nasa-jpl-exoplanet/internal

pylint
  excalibur/util/tea_code/python_runatm.py
Owners: @nasa-jpl-exoplanet/internal

rename python_xx files
  excalibur/util/cerberus.py
  excalibur/util/tea_code/makeatm.py
  excalibur/util/tea_code/runatm.py
Owners: @nasa-jpl-exoplanet/internal

mxr has to be None if mixratio is None
  excalibur/cerberus/forward_model.py
Owners: @groudier

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
