Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

Update _config.yaml
  docs/_config.yaml
Owners: @nasa-jpl-exoplanet/internal

Add files via upload
  docs/img/logo.png
Owners: @nasa-jpl-exoplanet/internal

Update README.md
  docs/README.md
Owners: @nasa-jpl-exoplanet/internal

fix tensors in cerb.results
  excalibur/cerberus/core.py
Owners: @groudier

reformat
  excalibur/cerberus/core.py
Owners: @groudier

reformat
  excalibur/cerberus/core.py
Owners: @groudier

another tensor conversion
  excalibur/cerberus/core.py
Owners: @groudier

return to full-length mcmc chains (was 1000 for debugging)
  excalibur/cerberus/algorithms.py
Owners: @groudier

formatting different from emacs auto tab indents
  excalibur/cerberus/algorithms.py
Owners: @groudier

docs skelelton
  docs/#README.md#
  docs/.#README.md
  docs/pipeline/README.md
  docs/pipeline/interact/README.md
  docs/pipeline/sharing/README.md
  docs/pipeline/start/README.md
  docs/pipeline/stop/README.md
Owners: @nasa-jpl-exoplanet/internal

oops
  docs/#README.md#
  docs/.#README.md
  docs/README.md
Owners: @nasa-jpl-exoplanet/internal

ignore some emacs working files
  .gitignore
Owners: @nasa-jpl-exoplanet/internal

try image
  docs/pipeline/README.md
  docs/pipeline/tv.svg
Owners: @nasa-jpl-exoplanet/internal

update docs
  docs/README.md
  docs/pipeline/README.md
  docs/pipeline/preparation/README.md
Owners: @nasa-jpl-exoplanet/internal

fix a style-induced bug (#48)
  excalibur/ariel/core.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/target/core.py
  excalibur/target/edit.py
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

change fig to myfig
  excalibur/transit/states.py
Owners: @groudier

fill out the prep
  docs/pipeline/preparation/README.md
Owners: @nasa-jpl-exoplanet/internal

all the work is in the preparation making start/stop short and sweet
  docs/pipeline/start/README.md
  docs/pipeline/stop/README.md
Owners: @nasa-jpl-exoplanet/internal

fix broken transit.spectrum plots (#49)
  excalibur/transit/states.py
Owners: @groudier

first updates to make transit work for floats and tensors
  excalibur/transit/core.py
Owners: @groudier

more tensor-related fixes
  excalibur/transit/core.py
Owners: @groudier

more, plus formatting
  excalibur/transit/core.py
Owners: @groudier

more painful doc writing
  docs/pipeline/preparation/README.md
  docs/pipeline/sharing/README.md
  docs/pipeline/start/README.md
  docs/pipeline/stop/README.md
  tools/README.md
Owners: @nasa-jpl-exoplanet/internal, @nasa-jpl-exoplanet/admin

more, plus formatting
  excalibur/transit/core.py
Owners: @groudier

more, plus formatting
  excalibur/transit/core.py
Owners: @groudier

should be all of the changes, just need to test...
  .docker/.env
  .docker/Dockerfile.base
  .docker/Dockerfile.server
  .docker/Dockerfile.tools
  .docker/Dockerfile.worker
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

general updates
  .docker/Dockerfile.worker
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

version update
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

wip
  docs/pipeline/sharing/README.md
Owners: @nasa-jpl-exoplanet/internal

wip
  docs/pipeline/sharing/README.md
Owners: @nasa-jpl-exoplanet/internal

wip
  docs/pipeline/sharing/README.md
Owners: @nasa-jpl-exoplanet/internal

github pages - how? worthwhile? (#11)
  .gitignore
  docs/README.md
  docs/_config.yaml
  docs/img/logo.png
  docs/pipeline/README.md
  docs/pipeline/interact/README.md
  docs/pipeline/preparation/README.md
  docs/pipeline/sharing/README.md
  docs/pipeline/start/README.md
  docs/pipeline/stop/README.md
  docs/pipeline/tv.svg
  tools/README.md
Owners: @nasa-jpl-exoplanet/internal, @nasa-jpl-exoplanet/admin

53: redo disk mappings (#54)
  .docker/.env
  .docker/Dockerfile.base
  .docker/Dockerfile.server
  .docker/Dockerfile.tools
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

done, but needs editorial changes
  docs/pipeline/sharing/README.md
Owners: @nasa-jpl-exoplanet/internal

fixing more transit.spectrum pytensor-related bugs
  excalibur/transit/core.py
Owners: @groudier

add release back to cerberus (first attempt)
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/bot.py
  excalibur/cerberus/core.py
Owners: @groudier

autoformatting
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/transit/core.py
Owners: @groudier

cerb.release bugs found by linter
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/bot.py
  excalibur/cerberus/core.py
Owners: @groudier

formatting
  excalibur/transit/core.py
Owners: @groudier

atmos vs atm bug
  excalibur/cerberus/algorithms.py
Owners: @groudier
