Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

20: workers not fully connecting to ops pipeline (#22)
  .docker/.env
  .docker/Dockerfile.server
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

verify that each task runs after the big changes (#16)
  README.md
  envs/bryden
  excalibur/README.md
  excalibur/phasecurve/states.py
  excalibur/system/core.py
  excalibur/target/algorithms.py
  excalibur/target/core.py
  excalibur/target/mast_api_utils.py
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
  excalibur/transit/spotmodel/Planeta.py
  excalibur/transit/spotmodel/Spotmodel.py
  excalibur/transit/spotmodel/eclipse_nv1.py
  excalibur/transit/spotmodel/keplerAux.py
  excalibur/transit/spotmodel/plotters.py
  excalibur/transit/spotmodel/star.py
  excalibur/transit/spotmodel/verify.py
  excalibur/transit/starspots.py
  excalibur/transit/states.py
  excalibur/util/logg.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

check if vrange key exists before plotting it (another phasecurve plotting bug)
  excalibur/phasecurve/states.py
  excalibur/transit/states.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Light Curve functions Tensor compatible
  excalibur/__init__.py
  excalibur/transit/core.py
  excalibur/util/time.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

transit model x pymc: we re back in buisness
  excalibur/data/core.py
  excalibur/transit/core.py
  excalibur/util/time.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Update post2shelve.sh
  tools/post2shelve.sh
Owners: @nasa-jpl-exoplanet/admin

My env
  tools/post2shelve.sh
Owners: @nasa-jpl-exoplanet/admin

CIs
  excalibur/data/core.py
  excalibur/transit/core.py
  excalibur/util/time.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Rebased with main
  tools/post2shelve.sh
Owners: @nasa-jpl-exoplanet/admin

post2shelve.sh rebased properly
  tools/post2shelve.sh
Owners: @nasa-jpl-exoplanet/admin

excalibur/__init__
  excalibur/__init__.py
Owners: @nasa-jpl-exoplanet/internal

pull out mmw,Hs calculation into function
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

remove some debugging prints (use verbose flag)
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

fix bug where tips no longer passed to gettpf
  excalibur/cerberus/core.py
Owners: @groudier

fixed numpy matrix ops but tensor matrix still crashing
  excalibur/cerberus/forward_model.py
Owners: @groudier

autoformatting
  excalibur/ariel/core.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

pylint stuff
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

Update compose.yaml
  .docker/compose.yaml
Owners: @nasa-jpl-exoplanet/admin

Update version.sh
  .docker/version.sh
Owners: @nasa-jpl-exoplanet/admin

update version
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update compose.yaml (#27)
  .docker/.env
  .docker/compose.yaml
  .docker/version.sh
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#28)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

18 excalibur x pymc (#26)
  envs/groudier
  excalibur/data/core.py
  excalibur/transit/core.py
  excalibur/util/time.py
  tools/post2shelve.sh
Owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

remove some prints; more tensor edits
  excalibur/cerberus/forward_model.py
Owners: @groudier

autoformatting
  excalibur/cerberus/forward_model.py
Owners: @groudier

convert ariel spectrum from tensor back to float
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

debug NaN tau depths
  excalibur/cerberus/forward_model.py
Owners: @groudier

updated plot labels
  excalibur/transit/states.py
Owners: @groudier

starspots: use data wavelengths ; use wave dependent limb darkening ; clean plot labels ; mark the non-spot result with Xs
  excalibur/transit/spotmodel/plotters.py
  excalibur/transit/starspots.py
Owners: @groudier

also plot the delta-depth, relative to spot-free model
  excalibur/transit/spotmodel/plotters.py
  excalibur/transit/starspots.py
  excalibur/transit/states.py
Owners: @groudier

Allowing something else than JWST to be downloaded
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

CI style
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

33 target task update (#34)
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

remove some debug prints
  excalibur/cerberus/forward_model.py
Owners: @groudier

autoformatting
  excalibur/ariel/core.py
  excalibur/cerberus/forward_model.py
  excalibur/transit/spotmodel/plotters.py
  excalibur/transit/starspots.py
  excalibur/transit/states.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

more print removal
  excalibur/cerberus/forward_model.py
Owners: @groudier

more cleaning
  excalibur/ariel/core.py
  excalibur/transit/starspots.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

typo
  excalibur/transit/starspots.py
Owners: @groudier
