Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

reformat
  excalibur/cerberus/plotters.py
Owners: @groudier

add daSilva 2024 C/O and N/O estimates to ancil
  excalibur/ancillary/core.py
  excalibur/ancillary/estimators.py
Owners: @nasa-jpl-exoplanet/internal

load ancillary for ariel_sim
  excalibur/ariel/algorithms.py
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

reformat
  excalibur/ancillary/estimators.py
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

have to add ancil to selftest also (calls arielsim)
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

cleaner version (from Al) for 0-d array issue
  excalibur/cerberus/forward_model.py
Owners: @groudier

reformat
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

bug
  excalibur/ariel/algorithms.py
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

avoid unused-parameter error
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

pylint
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

clean up isinstance if-thens for mixratio also
  excalibur/cerberus/forward_model.py
Owners: @groudier

clean up previous PR (#187)
  excalibur/ancillary/core.py
  excalibur/ancillary/estimators.py
  excalibur/ariel/algorithms.py
  excalibur/ariel/core.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
  excalibur/selftest/algorithms.py
  excalibur/util/tensor.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

duplicates are harder
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

fix typo
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

style
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

more style
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

speed it up
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

style
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

Issue 79: cause the pipeline to stroke (#188)
  .docker/.env
  requirements.txt
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update stroke.py
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

Update stroke.py (#191)
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

Update stroke.py
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

Update stroke.py
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

Update stroke.py
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

Update stroke.py
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

Update stroke.py
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

Update stroke.py (#192)
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

Update core.py
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

Update core.py (#193)
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

less digits for some more ancil params
  excalibur/ancillary/estimators.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#195)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

update to timing, calibration, norm
  excalibur/data/algorithms.py
  excalibur/data/core.py
  excalibur/transit/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

fix dict structure
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#196)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin
