Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

245 jwst transitwhitelight and normalization visuals (#252)
  excalibur/data/core.py
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

save the mixratio ratio from TEC/TEA in arielsim
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

more
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

add true mixratio info to plot
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

add instrumental uncertainties to plot
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

remove unused variables
  excalibur/ariel/core.py.picklingdebug
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal

oops. remove debugging file
  excalibur/ariel/core.py.picklingdebug
Owners: @nasa-jpl-exoplanet/internal

clean HWO plots (#246)
  .docker/.env
  excalibur/ariel/core.py
  excalibur/ariel/plotters.py
  excalibur/cerberus/forward_model.py
  excalibur/gemli/__init__.py
  excalibur/gemli/__main__.py
  excalibur/gemli/algorithms.py
  excalibur/gemli/bot.py
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
  excalibur/gemli/states.py
  excalibur/hwo/core.py
  excalibur/hwo/hwo_instrument_model.py
  excalibur/util/cerberus.py
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal, @groudier

bug in the parameter order when calling mlfit
  excalibur/gemli/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

a little renaming, cleanup
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

fix one-line bug in calling/saving gemli SV (#255)
  excalibur/gemli/algorithms.py
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

arg. deprecated numpy action (float of a 1-element array) no longer allowed
  excalibur/cerberus/forward_model.py
Owners: @groudier

dont do a active filter check; its always just ariel
  excalibur/gemli/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

fix bug on numpy functionality no longer allowed (#256)
  excalibur/cerberus/forward_model.py
  excalibur/gemli/algorithms.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

fix SV name used during filter search
  excalibur/gemli/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

remove print statements
  excalibur/gemli/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

some cleanup of old code
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal

new analysis plots comparing truth vs gemli fit
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

format aspect data for the truth-comparison plots
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

typos
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal

dont plot ML params that dont have a truth value (CO2)
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

verified analysis plots working
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

turn off save-to-disk
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal

gemli.analysis (#257)
  excalibur/gemli/algorithms.py
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
Owners: @nasa-jpl-exoplanet/internal

Flare detection and outputs/plots to terminal
  excalibur/phasecurve/core.py
  excalibur/phasecurve/states.py
Owners: @nasa-jpl-exoplanet/internal

visit # check in states.py
  excalibur/phasecurve/states.py
Owners: @nasa-jpl-exoplanet/internal

new flare detection routine + utils
  excalibur/phasecurve/flare_det.py
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

core updated to call flare detection
  excalibur/phasecurve/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/flare_det_utils.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/flare_det.py
Owners: @nasa-jpl-exoplanet/internal
