Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

remove debug prints
  excalibur/transit/core.py
Owners: @groudier

negative z doesnt work in tldlc
  excalibur/transit/core.py
Owners: @groudier

check for okPart in offset calculations
  excalibur/cerberus/core.py
Owners: @groudier

remove print junk
  excalibur/runtime/core.py
Owners: @nasa-jpl-exoplanet/internal

fix argument order
  excalibur/selftest/core.py
Owners: @nasa-jpl-exoplanet/internal

oops. a typo
  excalibur/cerberus/core.py
Owners: @groudier

keep original definition of lfit[dnoise] or states plotting is messed up
  excalibur/transit/core.py
Owners: @groudier

Adding triggers to runtime outputs (#155)
  excalibur/ancillary/algorithms.py
  excalibur/ariel/algorithms.py
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/classifier/algorithms.py
  excalibur/classifier/states.py
  excalibur/data/algorithms.py
  excalibur/data/core.py
  excalibur/phasecurve/algorithms.py
  excalibur/runtime/algorithms.py
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/example.xml
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
  excalibur/selftest/algorithms.py
  excalibur/selftest/core.py
  excalibur/system/algorithms.py
  excalibur/system/autofill.py
  excalibur/system/consistency.py
  excalibur/system/core.py
  excalibur/target/algorithms.py
  excalibur/target/core.py
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
  excalibur/transit/states.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

remove ipynb files
  excalibur/cerberus/tea_code/.ipynb_checkpoints/format-checkpoint.py
  excalibur/cerberus/tea_code/.ipynb_checkpoints/iterate-checkpoint.py
  excalibur/cerberus/tea_code/.ipynb_checkpoints/lagrange-checkpoint.py
  excalibur/cerberus/tea_code/.ipynb_checkpoints/lambdacorr-checkpoint.py
  excalibur/cerberus/tea_code/.ipynb_checkpoints/makeheader-checkpoint.py
  excalibur/cerberus/tea_code/.ipynb_checkpoints/python_makeatm-checkpoint.py
  excalibur/cerberus/tea_code/.ipynb_checkpoints/python_runatm-checkpoint.py
  excalibur/cerberus/tea_code/.ipynb_checkpoints/readconf-checkpoint.py
  excalibur/cerberus/tea_code/.ipynb_checkpoints/updated_balance-checkpoint.py
  excalibur/cerberus/tea_code/tea_files/.ipynb_checkpoints/PT-checkpoint.dat
  excalibur/cerberus/tea_code/tea_files/.ipynb_checkpoints/TEA-checkpoint.cfg
  excalibur/cerberus/tea_code/tea_files/.ipynb_checkpoints/stoich-checkpoint.txt
Owners: @groudier

new TEA calling code
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

autoformat
  excalibur/ariel/core.py
  excalibur/cerberus/tea_code/format.py
  excalibur/cerberus/tea_code/iterate.py
  excalibur/cerberus/tea_code/lagrange.py
  excalibur/cerberus/tea_code/lambdacorr.py
  excalibur/cerberus/tea_code/makeheader.py
  excalibur/cerberus/tea_code/python_makeatm.py
  excalibur/cerberus/tea_code/python_runatm.py
  excalibur/cerberus/tea_code/readconf.py
  excalibur/cerberus/tea_code/updated_balance.py
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

optionally use TEA in forward model
  excalibur/cerberus/forward_model.py
Owners: @groudier

remove unused imports
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

pylint
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

use runtime to set xslib molecule lists
  excalibur/cerberus/core.py
Owners: @groudier

starting to fix TEA param passing
  excalibur/ariel/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

formatting
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

clean
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

remove get_b option; has wrong number of outputs
  excalibur/cerberus/tea_code/makeheader.py
Owners: @groudier

still trying to get calcTEA params set up minimally
  excalibur/ariel/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

pylint
  excalibur/ariel/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

allow photochem molecule selection via runtime
  excalibur/cerberus/core.py
Owners: @groudier

pass in list of species for TEA
  excalibur/ariel/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

typo
  excalibur/cerberus/forward_model.py
Owners: @groudier

formatting
  excalibur/cerberus/forward_model.py
Owners: @groudier

typo
  excalibur/cerberus/core.py
Owners: @groudier

lots of pylint
  excalibur/cerberus/tea_code/format.py
  excalibur/cerberus/tea_code/iterate.py
  excalibur/cerberus/tea_code/lagrange.py
  excalibur/cerberus/tea_code/lambdacorr.py
  excalibur/cerberus/tea_code/makeheader.py
  excalibur/cerberus/tea_code/python_makeatm.py
  excalibur/cerberus/tea_code/python_runatm.py
  excalibur/cerberus/tea_code/readconf.py
  excalibur/cerberus/tea_code/updated_balance.py
  excalibur/util/cerberus.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

reformat
  excalibur/cerberus/tea_code/python_runatm.py
Owners: @groudier

more flake stuff
  excalibur/cerberus/tea_code/python_runatm.py
  excalibur/cerberus/tea_code/readconf.py
Owners: @groudier

dawgie compliance; strange
  excalibur/cerberus/forward_model.py
  excalibur/util/cerberus.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

typo
  excalibur/cerberus/forward_model.py
Owners: @groudier

formatting
  excalibur/cerberus/forward_model.py
Owners: @groudier

remove multiprocessing from TEA
  excalibur/cerberus/tea_code/python_runatm.py
Owners: @groudier

diff T-P profile params
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

get rid of calcTEA for now,, awaiting Luke update
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

get rid of calcTEA for now,, awaiting Luke update
  excalibur/cerberus/forward_model.py
Owners: @groudier

more calcTEA temp dropping
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

formatting
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

remove debug prints
  excalibur/transit/core.py
Owners: @groudier

pylint
  excalibur/ariel/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
