Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

deprecated matplotlib-cm-get_cmap
  excalibur/transit/spotmodel/plotters.py
Owners: @groudier

lint
  excalibur/transit/spotmodel/plotters.py
Owners: @groudier

jwst spectrum init
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
  excalibur/transit/states.py
Owners: @groudier

Empty Shell
  excalibur/phasecurve/core.py
  excalibur/phasecurve/states.py
Owners: @nasa-jpl-exoplanet/internal

LETHE with style
  excalibur/transit/core.py
  excalibur/transit/lethe.py
Owners: @groudier

LETHE correction
  excalibur/transit/core.py
  excalibur/transit/lethe.py
Owners: @groudier

pull request corrections
  excalibur/transit/lethe.py
Owners: @groudier

pull request correction
  excalibur/transit/lethe.py
Owners: @groudier

pull request correction_v2
  excalibur/transit/lethe.py
Owners: @groudier

modifications_v3
  excalibur/transit/core.py
  excalibur/transit/lethe.py
Owners: @groudier

modifications_v4
  excalibur/transit/core.py
  excalibur/transit/lethe.py
Owners: @groudier

dawgie_correction
  excalibur/transit/core.py
Owners: @groudier

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

JWST spectrum
  excalibur/transit/core.py
Owners: @groudier

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

DaStYle
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
  excalibur/transit/states.py
Owners: @groudier

299 update cerberus with constant s magic (#309)
  envs/cbernard
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

save and plot reduced-chi2 for pymc walkers (#294)
  excalibur/ariel/core.py
  excalibur/cerberus/__main__.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
  excalibur/data/__main__.py
  excalibur/eclipse/__main__.py
  excalibur/gemli/__main__.py
  excalibur/gemli/core.py
  excalibur/gemli/plotters.py
  excalibur/system/__main__.py
  excalibur/system/overwriter.py
  excalibur/target/algorithms.py
  excalibur/target/core.py
  excalibur/target/targetlists.py
  excalibur/transit/__main__.py
  excalibur/util/cerberus.py
  excalibur/util/tensor.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

modifications_v3
  excalibur/transit/core.py
  excalibur/transit/lethe.py
Owners: @groudier

pull request corrections
  excalibur/transit/lethe.py
Owners: @groudier

add lethe.py
  excalibur/transit/core.py
  excalibur/transit/lethe.py
Owners: @groudier

LETHE correction
  excalibur/transit/core.py
  excalibur/transit/lethe.py
Owners: @groudier

LETHE with style
  excalibur/transit/core.py
  excalibur/transit/lethe.py
Owners: @groudier

pull request correction_v2
  excalibur/transit/lethe.py
Owners: @groudier

pull request correction
  excalibur/transit/lethe.py
Owners: @groudier

dawgie_correction
  excalibur/transit/core.py
Owners: @groudier

modifications_v4
  excalibur/transit/core.py
  excalibur/transit/lethe.py
Owners: @groudier

lint
  excalibur/transit/spotmodel/plotters.py
Owners: @groudier

deprecated matplotlib-cm-get_cmap
  excalibur/transit/spotmodel/plotters.py
Owners: @groudier

modify extra molecule/only-water chem in gemli
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt (#316)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Linters
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
Owners: @groudier

CocoPerf
  excalibur/transit/core.py
Owners: @groudier

CocoStyle
  excalibur/transit/core.py
Owners: @groudier

310 jwst transit spectrum (#318)
  excalibur/gemli/core.py
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
  excalibur/transit/lethe.py
  excalibur/transit/spotmodel/plotters.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

modif_atomic_cross_section
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/util/cerberus.py
Owners: @groudier, @nasa-jpl-exoplanet/internal
