Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

atom_xsec_addition
  excalibur/cerberus/atom_xsec.py
Owners: @groudier

corrections
  excalibur/cerberus/forward_model.py
Owners: @groudier

modifications_X_H2
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/util/cerberus.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

corrections_v1
  excalibur/cerberus/atom_xsec.py
Owners: @groudier

corrections_v2
  excalibur/cerberus/atom_xsec.py
Owners: @groudier

corrections_v3
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

corrections_v4
  excalibur/cerberus/atom_xsec.py
Owners: @groudier

Update forward_model.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

Update forward_model.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

add boundary condition to line integral, for atmosphere above grid maximum
  excalibur/ariel/forward_models.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

two more magnitudes without limit flags
  excalibur/system/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/cerberus/forward_model.py
  excalibur/system/core.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

lint
  excalibur/ariel/forward_models.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

lint
  excalibur/cerberus/forward_model.py
Owners: @groudier

lint
  excalibur/cerberus/forward_model.py
Owners: @groudier

drop the overwritten T0 for GJ357 (MJD vs BJD prob)
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

Added truanderie to transit spec
  excalibur/transit/core.py
Owners: @groudier

DaStYle
  excalibur/transit/core.py
Owners: @groudier

TEST run
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
Owners: @groudier

corrections_v2
  excalibur/cerberus/atom_xsec.py
Owners: @groudier

corrections_v1
  excalibur/cerberus/atom_xsec.py
Owners: @groudier

corrections_v3
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

modif_atomic_cross_section
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/util/cerberus.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

corrections
  excalibur/cerberus/forward_model.py
Owners: @groudier

modifications_X_H2
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/util/cerberus.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

atom_xsec_addition
  excalibur/cerberus/atom_xsec.py
Owners: @groudier

Update forward_model.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

corrections_v4
  excalibur/cerberus/atom_xsec.py
Owners: @groudier

Update forward_model.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

DaStYlE
  excalibur/transit/core.py
Owners: @groudier

324 refining transit spectrum (#325)
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
  excalibur/util/cerberus.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

Sophia s JWST whitelight view
  excalibur/transit/states.py
Owners: @groudier

DaStYlE
  excalibur/transit/states.py
Owners: @groudier

pylint
  excalibur/transit/states.py
Owners: @groudier

add new crbfm param - Tparams
  excalibur/cerberus/fmcontext.py
Owners: @groudier

switch from Luke T-P profile to simple T grid
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

more T-P changes; must commit before merge main
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

vertical chemistry plot has new panel for T profile
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

include non-isothermal models in family of ariel sim models
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/ariel/core.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier
