Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

gemli FM calls need chemistry param set
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal

clean in cerb a bit
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

modifs_atomic_code
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

lint
  excalibur/cerberus/core.py
Owners: @groudier

constant edit: 4d to 3d atom-xsec grid
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

add TEA-grid models to ariel-sim
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

load in TEA grid for ariel sim FM
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/cerberus/forward_model.py
Owners: @groudier

lint
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

lintoops
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

super dumb lint
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

use allcaps TIO inside of original TEA calc
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

remove print statement
  excalibur/ariel/core.py
  excalibur/cerberus/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

fast (grid interp) TEA retrievals (#356)
  excalibur/ariel/core.py
  excalibur/cerberus/atom_xsec.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/teagrid.py
  excalibur/gemli/core.py
  excalibur/gemli/states.py
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

add lethe,chainlen,imo,thr,etc to transit runtime
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
Owners: @groudier

add S/O and diff bounds for C/O/metallicity/etc
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/gemli/algorithms.py
  excalibur/gemli/core.py
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

add atomlist,S/O to runtime
  excalibur/cerberus/forward_model.py
Owners: @groudier

different prior ranges for metallicity,C/O,etc
  excalibur/cerberus/bounds.py
Owners: @groudier

chi histo for analysis
  excalibur/cerberus/plotters.py
Owners: @groudier

different prior ranges for metallicity,C/O,etc
  excalibur/cerberus/algorithms.py
Owners: @groudier

different prior ranges for metallicity,C/O,etc
  excalibur/cerberus/core.py
Owners: @groudier

updated ctxt
  excalibur/cerberus/fmcontext.py
Owners: @groudier

lint
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
Owners: @groudier

updated runtime
  excalibur/runtime/core.py
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

typo in levers
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/levers.xsd
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/transit/core.py
Owners: @groudier

only one imo (instrument order) param
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

remove lbroad and lshift params
  excalibur/ariel/algorithms.py
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/gemli/algorithms.py
  excalibur/gemli/core.py
  excalibur/hwo/algorithms.py
  excalibur/hwo/core.py
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

rename knownspecies as hitemplist
  excalibur/ariel/algorithms.py
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/gemli/algorithms.py
  excalibur/gemli/core.py
  excalibur/hwo/algorithms.py
  excalibur/hwo/core.py
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

TEA grid should use cubic spline
  excalibur/cerberus/teagrid.py
Owners: @groudier

LETHE defauult as None instead of empty list
  excalibur/transit/core.py
Owners: @groudier

pass runtime params into transit.spc
  excalibur/transit/algorithms.py
Owners: @groudier

oops. dot vs underscore trouble
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

S/O consistency
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

remove more parts of lbroad/lshift
  excalibur/cerberus/forward_model.py
Owners: @groudier

lint
  excalibur/ariel/algorithms.py
  excalibur/hwo/algorithms.py
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal
