Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

lint
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

arielrad and eclipse updates (#232)
  envs/tokadjia
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/ariel/plotters.py
  excalibur/eclipse/algorithms.py
  excalibur/transit/core.py
  excalibur/transit/states.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

add deprecated flag for crbmodel; reverse interp array for CTP edge
  excalibur/cerberus/forward_model.py
Owners: @groudier

oops I misspelled tokadjia username
  envs/tokadjia
Owners: @nasa-jpl-exoplanet/internal

presumptive spam fix
  excalibur/presumptive/perform.py
Owners: @nasa-jpl-exoplanet/internal

improved the undead output as well so that we can track of who was turned to ash.
  excalibur/presumptive/mia.py
  excalibur/presumptive/perform.py
Owners: @nasa-jpl-exoplanet/internal

Issue 236: despotic improvements (#237)
  excalibur/presumptive/mia.py
  excalibur/presumptive/perform.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#238)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

whitelight hst-combo needs to be done for eclipse too
  excalibur/transit/algorithms.py
Owners: @groudier

pylint
  excalibur/transit/algorithms.py
Owners: @groudier

eclipse etc updates (#235)
  envs/tokadjia
  excalibur/cerberus/forward_model.py
  excalibur/transit/algorithms.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

one email until a change
  excalibur/presumptive/mia.py
Owners: @nasa-jpl-exoplanet/internal

send message once
  excalibur/presumptive/mia.py
Owners: @nasa-jpl-exoplanet/internal

Issue 239: fleeing workers (#240)
  excalibur/presumptive/mia.py
Owners: @nasa-jpl-exoplanet/internal

temp change on system param passing
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

accept new plots (anything starting with plot_)
  excalibur/ariel/states.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/ariel/states.py
Owners: @nasa-jpl-exoplanet/internal

more lint
  excalibur/ariel/states.py
Owners: @nasa-jpl-exoplanet/internal

annual batch of blacker updates
  excalibur/ancillary/estimators.py
  excalibur/ariel/clouds.py
  excalibur/ariel/states.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/console/states.py
  excalibur/runtime/core.py
  excalibur/selftest/algorithms.py
  excalibur/selftest/core.py
  excalibur/selftest/plotters.py
  excalibur/target/__main__.py
  excalibur/target/core.py
  excalibur/transit/states.py
  excalibur/util/tea_code/format.py
  excalibur/util/tea_code/iterate.py
  excalibur/util/tea_code/makeheader.py
  excalibur/util/tea_code/runatm.py
  excalibur/util/tensor.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Vertical Chemistry Profile plotting
  excalibur/ariel/core.py
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

remove commented out duplicate code
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

remove debugging code (save xsecs as a pickle)
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

try to keep constant plot size, as legend varies
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

set default for molecule_profiles
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

remove unused param in plot call
  excalibur/ariel/core.py
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/ariel/core.py
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

new targets
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

new Archive planets
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

new mixing ratio plot (#241)
  excalibur/ancillary/estimators.py
  excalibur/ariel/clouds.py
  excalibur/ariel/core.py
  excalibur/ariel/plotters.py
  excalibur/ariel/states.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/console/states.py
  excalibur/runtime/core.py
  excalibur/selftest/algorithms.py
  excalibur/selftest/core.py
  excalibur/selftest/plotters.py
  excalibur/target/__main__.py
  excalibur/target/core.py
  excalibur/target/edit.py
  excalibur/transit/states.py
  excalibur/util/tea_code/format.py
  excalibur/util/tea_code/iterate.py
  excalibur/util/tea_code/makeheader.py
  excalibur/util/tea_code/runatm.py
  excalibur/util/tensor.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

redo new black
  excalibur/util/tea_code/format.py
  excalibur/util/tea_code/iterate.py
  excalibur/util/tea_code/makeheader.py
  excalibur/util/tea_code/runatm.py
Owners: @nasa-jpl-exoplanet/internal

redo new black
  excalibur/console/states.py
  excalibur/runtime/core.py
  excalibur/selftest/algorithms.py
  excalibur/selftest/core.py
  excalibur/selftest/plotters.py
  excalibur/transit/states.py
  excalibur/util/tensor.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

redo new black
  excalibur/ancillary/estimators.py
  excalibur/ariel/clouds.py
  excalibur/ariel/plotters.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/target/__main__.py
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

update jwst targetlist
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

make sure L98-59 overwrite values are float, not string
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

sometimes use internal arialrad calculation
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal
