Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

another fix for L9859 problem
  excalibur/ariel/ariel_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

(running arielrad locally; wont pass pylint checks)
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

new HWO task
  excalibur/hwo/__init__.py
  excalibur/hwo/__main__.py
  excalibur/hwo/algorithms.py
  excalibur/hwo/bot.py
  excalibur/hwo/clouds.py
  excalibur/hwo/core.py
  excalibur/hwo/forward_models.py
  excalibur/hwo/hwo_instrument_model.py
  excalibur/hwo/metallicity.py
  excalibur/hwo/plotters.py
  excalibur/hwo/states.py
Owners: @nasa-jpl-exoplanet/internal

remove ariel-tier from hwo
  excalibur/hwo/core.py
  excalibur/hwo/plotters.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/hwo/algorithms.py
  excalibur/hwo/hwo_instrument_model.py
  excalibur/hwo/states.py
Owners: @nasa-jpl-exoplanet/internal

small edit
  excalibur/ariel/ariel_instrument_model.py
  excalibur/hwo/hwo_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/hwo/core.py
  excalibur/hwo/hwo_instrument_model.py
  excalibur/hwo/plotters.py
  excalibur/hwo/states.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/hwo/core.py
Owners: @nasa-jpl-exoplanet/internal

removing duplicate code
  excalibur/ariel/plotters.py
  excalibur/hwo/algorithms.py
  excalibur/hwo/clouds.py
  excalibur/hwo/core.py
  excalibur/hwo/forward_models.py
  excalibur/hwo/metallicity.py
Owners: @nasa-jpl-exoplanet/internal

JWST norm
  excalibur/data/states.py
  excalibur/transit/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Issue 239: fleeing workers (#240)
  excalibur/presumptive/mia.py
Owners: @nasa-jpl-exoplanet/internal

Issue 236: despotic improvements (#237)
  excalibur/presumptive/mia.py
  excalibur/presumptive/perform.py
Owners: @nasa-jpl-exoplanet/internal

eclipse etc updates (#235)
  envs/tokadjia
  excalibur/cerberus/forward_model.py
  excalibur/transit/algorithms.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

new mixing ratio plot (#241)
  excalibur/ancillary/estimators.py
  excalibur/ariel/clouds.py
  excalibur/ariel/core.py
  excalibur/ariel/plotters.py
  excalibur/ariel/states.py
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/console/states.py
  excalibur/runtime/core.py
  excalibur/selftest/algorithms.py
  excalibur/selftest/core.py
  excalibur/selftest/plotters.py
  excalibur/target/__main__.py
  excalibur/target/core.py
  excalibur/target/edit.py
  excalibur/transit/states.py
  excalibur/util/tea_code/format.py
  excalibur/util/tea_code/iterate.py
  excalibur/util/tea_code/makeheader.py
  excalibur/util/tea_code/runatm.py
  excalibur/util/tensor.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Update requirements.txt (#238)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Style
  excalibur/data/states.py
  excalibur/transit/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Style
  excalibur/transit/core.py
Owners: @groudier

removed debug from jwstnorm
  excalibur/transit/algorithms.py
Owners: @groudier

231 branching transit norm to datacal jwst format (#243)
  excalibur/data/states.py
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

use a toy model for HWO wavelengths and noise
  excalibur/hwo/hwo_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

reduce repeated messaging
  excalibur/presumptive/email.py
  test/test_03.py
Owners: @nasa-jpl-exoplanet/internal

clean plot a little
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

new flare detection task
  excalibur/phasecurve/algorithms.py
  excalibur/phasecurve/bot.py
  excalibur/phasecurve/core.py
  excalibur/phasecurve/plotters.py
  excalibur/phasecurve/states.py
Owners: @nasa-jpl-exoplanet/internal

new baseline
  .github/workflows/bandit_baseline.json
Owners: @nasa-jpl-exoplanet/admin

plot cleaning
  excalibur/phasecurve/plotters.py
Owners: @nasa-jpl-exoplanet/internal

put in some fake flares
  excalibur/phasecurve/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/core.py
  excalibur/phasecurve/plotters.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/ariel/ariel_instrument_model.py
  excalibur/hwo/core.py
  excalibur/hwo/hwo_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/ariel/plotters.py
  excalibur/hwo/hwo_instrument_model.py
  excalibur/phasecurve/plotters.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/ariel/ariel_instrument_model.py
  excalibur/hwo/hwo_instrument_model.py
  excalibur/phasecurve/algorithms.py
  excalibur/phasecurve/core.py
  excalibur/phasecurve/plotters.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/phasecurve/core.py
  excalibur/phasecurve/plotters.py
Owners: @nasa-jpl-exoplanet/internal

reduce repeated messaging (#244)
  .github/workflows/bandit_baseline.json
  excalibur/presumptive/email.py
  test/test_03.py
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Newtargets etc (#242)
  excalibur/ariel/ariel_instrument_model.py
  excalibur/ariel/plotters.py
  excalibur/hwo/__init__.py
  excalibur/hwo/__main__.py
  excalibur/hwo/algorithms.py
  excalibur/hwo/bot.py
  excalibur/hwo/core.py
  excalibur/hwo/hwo_instrument_model.py
  excalibur/hwo/states.py
  excalibur/phasecurve/algorithms.py
  excalibur/phasecurve/bot.py
  excalibur/phasecurve/core.py
  excalibur/phasecurve/plotters.py
  excalibur/phasecurve/states.py
  excalibur/system/overwriter.py
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

adjust plot legend location
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

wider range of wavelengths for HWO
  excalibur/hwo/hwo_instrument_model.py
Owners: @nasa-jpl-exoplanet/internal

add extra ozone into the HWO model
  excalibur/ariel/plotters.py
  excalibur/cerberus/forward_model.py
  excalibur/hwo/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

fix plot range
  excalibur/ariel/plotters.py
Owners: @nasa-jpl-exoplanet/internal

oops. switch back to old arielrad method
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

lint
  excalibur/ariel/plotters.py
  excalibur/cerberus/forward_model.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

lint
  excalibur/cerberus/forward_model.py
Owners: @groudier
