Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

flattening the 2-d array in corner plot
  excalibur/transit/core.py
  excalibur/transit/plotters.py
Owners: @groudier

formatting
  excalibur/cerberus/algorithms.py
Owners: @groudier

linter
  excalibur/cerberus/algorithms.py
Owners: @groudier

Cerberus pymc testing (#78)
  excalibur/cerberus/algorithms.py
  excalibur/transit/algorithms.py
  excalibur/transit/core.py
  excalibur/transit/plotters.py
Owners: @groudier

Pytensor shell
  excalibur/transit/core.py
  excalibur/transit/plotters.py
  excalibur/util/time.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

CIs and Readme
  docs/README.md
  excalibur/data/core.py
  excalibur/transit/core.py
  excalibur/transit/plotters.py
  excalibur/util/time.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

CIs
  excalibur/transit/core.py
Owners: @groudier

77 remaining transit items (#80)
  docs/README.md
  excalibur/data/core.py
  excalibur/transit/core.py
  excalibur/transit/plotters.py
  excalibur/util/time.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Whitelight test
  excalibur/transit/core.py
  excalibur/transit/plotters.py
  excalibur/transit/states.py
Owners: @groudier

CIs
  excalibur/transit/core.py
  excalibur/transit/plotters.py
  excalibur/transit/states.py
Owners: @groudier

Transit Whitelight test (#82)
  excalibur/transit/core.py
  excalibur/transit/plotters.py
  excalibur/transit/states.py
Owners: @groudier

Stripping out pymc priors
  excalibur/transit/core.py
Owners: @groudier

Stripping out pymc priors (#84)
  excalibur/transit/core.py
Owners: @groudier

CIs
  excalibur/transit/core.py
  excalibur/util/cerberus.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

Spectrum and pymc
  README.md
  excalibur/transit/core.py
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Update setup.py
  setup.py
Owners: @nasa-jpl-exoplanet/admin

CI
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

Transit Spectrum test (#86)
  README.md
  excalibur/transit/core.py
  excalibur/util/cerberus.py
  setup.py
Owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

create util/tensor for general pytensor-related code
  excalibur/util/tensor.py
Owners: @nasa-jpl-exoplanet/internal

small change in likelihood normalization (no effect on results)
  excalibur/transit/core.py
Owners: @groudier

pylint fix
  excalibur/util/tensor.py
Owners: @nasa-jpl-exoplanet/internal

add nodes,nodeshape to prior setup
  excalibur/cerberus/bounds.py
Owners: @groudier

add verbose plotting for testing cerb.atmos
  excalibur/cerberus/plotters.py
Owners: @groudier

remove eval()s from ariel-sim
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

remove tensor debugging junk from util/cerberus
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

use chainlen variable name consistently
  excalibur/cerberus/algorithms.py
Owners: @groudier

remove eval()s etc from forward model
  excalibur/cerberus/bounds.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

convert cerb/core to Gregoire method
  excalibur/cerberus/core.py
Owners: @groudier

pylint changes
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
  excalibur/util/cerberus.py
  excalibur/util/tensor.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

put tensor utilities in util later
  excalibur/util/tensor.py
Owners: @nasa-jpl-exoplanet/internal

more pylint issues
  excalibur/cerberus/bounds.py
Owners: @groudier

more pylint issues
  excalibur/cerberus/core.py
Owners: @groudier

oops left out a keyword
  excalibur/cerberus/core.py
Owners: @groudier

remove old Normal; replaced by CustomDist
  excalibur/cerberus/core.py
Owners: @groudier

fixes NaN bug in forward model
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

cleaned up a bit
  excalibur/cerberus/forward_model.py
Owners: @groudier

the 4 chains are mingled differently in pymc
  excalibur/cerberus/plotters.py
Owners: @groudier

removing print statements
  excalibur/cerberus/core.py
Owners: @groudier

removing .tensor; fixing matrix trouble
  excalibur/cerberus/forward_model.py
Owners: @groudier

reformatting
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
