Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

Update requirements.txt (#44)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update README.md
  README.md
Owners: @nasa-jpl-exoplanet/internal

Update README.md (#45)
  README.md
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#46)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update README.md
  README.md
Owners: @nasa-jpl-exoplanet/internal

Update README.md (#47)
  README.md
Owners: @nasa-jpl-exoplanet/internal

convert some tensors to float, as needed
  excalibur/cerberus/forward_model.py
Owners: @groudier

formatting
  excalibur/cerberus/forward_model.py
Owners: @groudier

formatting
  excalibur/cerberus/forward_model.py
Owners: @groudier

formatting
  excalibur/cerberus/forward_model.py
Owners: @groudier

dont save ariel plots to disk
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

check for float vs tensor mmw
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal

fix conditional for TEC[#] parameter names
  excalibur/cerberus/core.py
Owners: @groudier

more checks for tensor vs float
  excalibur/cerberus/forward_model.py
Owners: @groudier

more tensor cleaning
  excalibur/cerberus/forward_model.py
Owners: @groudier

autoformat
  excalibur/cerberus/forward_model.py
Owners: @groudier

unused imports
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

consider using items()
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

formating
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

back to 100 atmos levels (was 7 during debugging)
  excalibur/cerberus/forward_model.py
Owners: @groudier

only 1000 mcmc steps for trial runs
  excalibur/cerberus/algorithms.py
Owners: @groudier

ariel-sim and cerberus-atmos fix
  excalibur/ariel/core.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

fix style-induced bug
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

add comments to scrapeids
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

exoplanet archive alias added for HIP 29442 (=HD 42813); otherwise autofill fails
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

remove 7 false-positive targets
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

remove false-positives from targetlists
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

reformatting
  excalibur/target/edit.py
Owners: @nasa-jpl-exoplanet/internal

Update README.md
  docs/README.md
Owners: @nasa-jpl-exoplanet/internal

Create README.md
  docs/README.md
Owners: @nasa-jpl-exoplanet/internal

Create README.md
  docs/disk_mapping/README.md
Owners: @nasa-jpl-exoplanet/internal

Update README.md
  docs/README.md
Owners: @nasa-jpl-exoplanet/internal

Create _config.yaml
  docs/_config.yaml
Owners: @nasa-jpl-exoplanet/internal

Update README.md
  docs/disk_mapping/README.md
Owners: @nasa-jpl-exoplanet/internal

Update _config.yaml
  docs/_config.yaml
Owners: @nasa-jpl-exoplanet/internal

Update _config.yaml
  docs/_config.yaml
Owners: @nasa-jpl-exoplanet/internal

Update README.md
  docs/disk_mapping/README.md
Owners: @nasa-jpl-exoplanet/internal

Create logo.png
  docs/img/logo.png
Owners: @nasa-jpl-exoplanet/internal

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
