Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

pass runtime params into ariel sim
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

excaliburValues have to be converted to floats (but BoolVals are ok)
  excalibur/ariel/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

new runtime params into cerb.alg
  excalibur/cerberus/algorithms.py
Owners: @groudier

new runtime params into cerb.core
  excalibur/cerberus/core.py
Owners: @groudier

pass in new #-of-chains param
  excalibur/cerberus/algorithms.py
Owners: @groudier

drop Ncores; replace with Nchains
  excalibur/cerberus/core.py
Owners: @groudier

autoformatting
  excalibur/ariel/algorithms.py
  excalibur/ariel/core.py
  excalibur/ariel/metallicity.py
  excalibur/cerberus/algorithms.py
  excalibur/system/algorithms.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

turn off chi2red print statement
  excalibur/util/tensor.py
Owners: @nasa-jpl-exoplanet/internal

update autogen again
  excalibur/runtime/autogen.md5
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#104)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

98 include new parameters in runtime (#103)
  envs/bryden
  excalibur/ariel/algorithms.py
  excalibur/ariel/core.py
  excalibur/ariel/metallicity.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/runtime/algorithms.py
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/example.xml
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
  excalibur/system/algorithms.py
  excalibur/target/core.py
  excalibur/util/tensor.py
  test/test_01.py
Owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#106)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

task label should be algorithm
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#107)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

rename target.autofill to system.validate in runtime
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/example.xml
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

fixing if statement in data.core for failures in data.collect
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

add 7 more params: SNR adjustment and prior ranges
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/example.xml
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

update autogen
  excalibur/runtime/autogen.md5
Owners: @nasa-jpl-exoplanet/internal

Fixing errors in data.core.py that caused failures in data.collect when running the pipeline (#109)
  excalibur/data/core.py
Owners: @nasa-jpl-exoplanet/internal

autoformat
  excalibur/runtime/core.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#112)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

correcting the error for HST in cerberus.atmos with no clouds
  excalibur/cerberus/core.py
Owners: @groudier

rename the runtime param inside system
  excalibur/system/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

include new params in cerb.alg; create new cerbParam for cerb.results
  excalibur/cerberus/algorithms.py
Owners: @groudier

include new params in cerb.core; create new cerbParam for cerb.results
  excalibur/cerberus/core.py
Owners: @groudier

incorporate runtime params into cerb.results
  excalibur/cerberus/core.py
Owners: @groudier

typo
  excalibur/cerberus/algorithms.py
Owners: @groudier

add runtime to cerberus context
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
Owners: @groudier

typo
  excalibur/cerberus/algorithms.py
Owners: @groudier

runtime bounds still not working
  excalibur/cerberus/bounds.py
Owners: @groudier

use context for forwardmodel isothermal,lbroadening,lshifting
  excalibur/cerberus/forward_model.py
Owners: @groudier

use context for pressure grid definition (nlevels,Hsmax,,solrad)
  excalibur/cerberus/forward_model.py
Owners: @groudier
