Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

store TEAgrid under a subdirectory modelName
  excalibur/cerberus/core.py
Owners: @groudier

remove absorb(), the original HITRAN routine
  excalibur/cerberus/forward_model.py
  excalibur/util/cerberus.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

oops. absorb() added back in; used in xslib
  excalibur/cerberus/forward_model.py
Owners: @groudier

lint
  excalibur/ariel/core.py
  excalibur/cerberus/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

unused param
  excalibur/cerberus/forward_model.py
Owners: @groudier

lint shame
  excalibur/cerberus/teagrid.py
Owners: @groudier

remove qtgrid from atmos FM; keep it in xslib/absorb()
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

remove qtgrid
  excalibur/ariel/forward_models.py
  excalibur/gemli/core.py
Owners: @nasa-jpl-exoplanet/internal

pull out atom xsec calc as getatomxm()
  excalibur/cerberus/forward_model.py
Owners: @groudier

setting read-write permissions not allowed, it seems
  excalibur/cerberus/teagrid.py
Owners: @groudier

oops
  excalibur/cerberus/forward_model.py
Owners: @groudier

new context, atmos draft
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/teagrid.py
  excalibur/util/tensor.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

test
  excalibur/README.md
Owners: @nasa-jpl-exoplanet/internal

test (#376)
  excalibur/README.md
Owners: @nasa-jpl-exoplanet/internal

whitespace
  excalibur/cerberus/forward_model.py
Owners: @groudier

JWST atmos
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
  excalibur/util/tensor.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

JWST atmos
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

external install modifications for Windows OS
  excalibur/__init__.py
  excalibur/transit/core.py
  excalibur/util/elca.py
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal, @groudier

allow for selection of molecules within atmos() spectrum (different from xslib selection)
  excalibur/cerberus/forward_model.py
Owners: @groudier

lint
  excalibur/cerberus/forward_model.py
Owners: @groudier

split fitCloudProperties into CTP and Haze options
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/runtime/algorithms.py.testing
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
  excalibur/selftest/algorithms.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

edit fixed param passing for fitCTP/fitHaze cases
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/gemli/core.py
  excalibur/hwo/core.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

remove STIS/WFC-offset forward models
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

one more related edit
  excalibur/cerberus/core.py
Owners: @groudier

lint
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
Owners: @groudier

lint
  excalibur/cerberus/core.py
Owners: @groudier

lint
  excalibur/cerberus/core.py
Owners: @groudier

oops
  excalibur/cerberus/forward_model.py
Owners: @groudier

TEAgrid updates (#374)
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/teagrid.py
  excalibur/gemli/core.py
  excalibur/hwo/core.py
  excalibur/runtime/algorithms.py.testing
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
  excalibur/selftest/algorithms.py
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

oops
  excalibur/runtime/algorithms.py.testing
Owners: @nasa-jpl-exoplanet/internal

main merge
  excalibur/runtime/algorithms.py.testing
Owners: @nasa-jpl-exoplanet/internal

syntax problem
  excalibur/cerberus/forward_model.py
Owners: @groudier

Teagrid cleanup cleanup (#378)
  excalibur/cerberus/forward_model.py
  excalibur/runtime/algorithms.py.testing
Owners: @groudier, @nasa-jpl-exoplanet/internal

ozone model needs ozone
  excalibur/cerberus/forward_model.py
Owners: @groudier

test (#376)
  excalibur/README.md
Owners: @nasa-jpl-exoplanet/internal

Conflicts
  excalibur/ariel/core.py
  excalibur/ariel/forward_models.py
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/teagrid.py
  excalibur/gemli/core.py
  excalibur/hwo/core.py
  excalibur/runtime/algorithms.py.testing
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
  excalibur/selftest/algorithms.py
  excalibur/util/cerberus.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Teagrid cleanup cleanup (#378)
  excalibur/cerberus/forward_model.py
  excalibur/runtime/algorithms.py.testing
Owners: @groudier, @nasa-jpl-exoplanet/internal

XSLIB
  excalibur/cerberus/core.py
Owners: @groudier

Conflicts
  excalibur/cerberus/teagrid.py
Owners: @groudier

Conflicts
  excalibur/cerberus/core.py
  excalibur/cerberus/fmcontext.py
  excalibur/cerberus/forward_model.py
Owners: @groudier
