Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin

initialize star/planet params with empty values; special cases for ars and logg
  excalibur/system/algorithms.py
  excalibur/system/core.py
Owners: @nasa-jpl-exoplanet/internal

consider blank values
  excalibur/system/autofill.py
Owners: @nasa-jpl-exoplanet/internal

clean up a bit
  excalibur/system/states.py
Owners: @nasa-jpl-exoplanet/internal

overwrite star/planet values with some assumed values
  excalibur/system/overwriter.py
Owners: @nasa-jpl-exoplanet/internal

verbose checks on consistency, to get testJup density,logg,teff,etc
  excalibur/system/consistency.py
Owners: @nasa-jpl-exoplanet/internal

give SV class the right name (also used in testcerb)
  excalibur/ariel/states.py
Owners: @nasa-jpl-exoplanet/internal

a few special cases for test targets (need to use some other stars ArielRad SNR); include data in the spectrum plots
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

give SV class the right name (also used in testcerb)
  excalibur/ariel/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

autoformat
  excalibur/ariel/core.py
  excalibur/system/algorithms.py
  excalibur/system/autofill.py
  excalibur/system/consistency.py
  excalibur/system/core.py
  excalibur/system/overwriter.py
  excalibur/target/core.py
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

states not really needed, but cutpaste for now
  excalibur/testcerb/states.py
Owners: @nasa-jpl-exoplanet/internal

core not really needed, but with ariel pass through call for now
  excalibur/testcerb/core.py
Owners: @nasa-jpl-exoplanet/internal

include analysis/agent in __init__, for analysis
  excalibur/testcerb/__init__.py
Owners: @nasa-jpl-exoplanet/internal

add several more algorithms to main
  excalibur/testcerb/__main__.py
Owners: @nasa-jpl-exoplanet/internal

add several more algorithms to algorithms
  excalibur/testcerb/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

add several more algorithms to bot
  excalibur/testcerb/bot.py
Owners: @nasa-jpl-exoplanet/internal

new analysis unique to testcerb
  excalibur/testcerb/core.py
Owners: @nasa-jpl-exoplanet/internal

new analysis unique to testcerb
  excalibur/testcerb/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

only run testcerb algs if test target
  excalibur/testcerb/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

fix imports
  excalibur/testcerb/core.py
Owners: @nasa-jpl-exoplanet/internal

missing import
  excalibur/testcerb/core.py
Owners: @nasa-jpl-exoplanet/internal

oops. mistake
  excalibur/system/states.py
Owners: @nasa-jpl-exoplanet/internal

more imports
  excalibur/testcerb/core.py
Owners: @nasa-jpl-exoplanet/internal

heritage shame added for algorithms
  excalibur/testcerb/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

pylint
  excalibur/ariel/core.py
  excalibur/system/core.py
Owners: @nasa-jpl-exoplanet/internal

format
  excalibur/system/states.py
Owners: @nasa-jpl-exoplanet/internal

pylint
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal

disable duplicate code error, temporarily
  excalibur/testcerb/core.py
Owners: @nasa-jpl-exoplanet/internal

oops, fix bug that Lahna found for Fe + C/O but no-T case
  excalibur/cerberus/forward_model.py
Owners: @groudier

change SNRadjust definition
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

starting to work on new analysis
  excalibur/testcerb/core.py
Owners: @nasa-jpl-exoplanet/internal

add runtime to cerb.analysis; use runtime.tier in mass-metal plot
  excalibur/cerberus/algorithms.py
  excalibur/cerberus/core.py
  excalibur/testcerb/plotters.py
Owners: @groudier, @nasa-jpl-exoplanet/internal

add runtime to testcerb.analysis
  excalibur/testcerb/algorithms.py
  excalibur/testcerb/core.py
Owners: @nasa-jpl-exoplanet/internal

formatting
  excalibur/cerberus/algorithms.py
Owners: @groudier

works now with the new venv
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  tools/autogen.sh
Owners: @nasa-jpl-exoplanet/internal, @nasa-jpl-exoplanet/admin

works now with the new venv (#122)
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  tools/autogen.sh
Owners: @nasa-jpl-exoplanet/internal, @nasa-jpl-exoplanet/admin

updated input xml
  excalibur/runtime/example.xml
Owners: @nasa-jpl-exoplanet/internal

new hi-lo type for bounds in levers.xsd
  excalibur/runtime/levers.xsd
Owners: @nasa-jpl-exoplanet/internal

new hi-lo update for autogen,binding
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
Owners: @nasa-jpl-exoplanet/internal

create and use a new HiLoValue class
  excalibur/runtime/core.py
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

target scrape HST fix
  excalibur/target/algorithms.py
  excalibur/target/core.py
Owners: @nasa-jpl-exoplanet/internal
