Repository nasa-jpl-exoplanet/esp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nasa-jpl-exoplanet/internal, @groudier, @nasa-jpl-exoplanet/admin

Update requirements.txt (#197)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update pylint.rc
  .github/workflows/pylint.rc
Owners: @nasa-jpl-exoplanet/admin

Update __main__.py
  excalibur/target/__main__.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt (#198)
  .docker/.env
  .github/workflows/pylint.rc
  excalibur/target/__main__.py
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#199)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

add Chachan mass-metals to ancillary metallicity,mmw
  excalibur/ancillary/core.py
  excalibur/ancillary/estimators.py
Owners: @nasa-jpl-exoplanet/internal

new runtime param to select Chachan mass-metals
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

include chachan runtime param in ariel,selftest
  excalibur/ariel/algorithms.py
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

include chachan runtime param in ariel call
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

plot both thorngren and chachan in cerb.analysis
  excalibur/cerberus/plotters.py
Owners: @groudier

new formula for mass-metals, from Chachan 2025
  excalibur/ariel/metallicity.py
Owners: @nasa-jpl-exoplanet/internal

runtime option for CO*
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
Owners: @nasa-jpl-exoplanet/internal

autoformat
  excalibur/ancillary/estimators.py
Owners: @nasa-jpl-exoplanet/internal

pass in CO* option
  excalibur/ariel/algorithms.py
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

use CO* trend from da Silva for ariel sims
  excalibur/ariel/core.py
Owners: @nasa-jpl-exoplanet/internal

autoformat
  excalibur/ariel/algorithms.py
  excalibur/ariel/metallicity.py
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal

deal with uncertainty of zero
  excalibur/cerberus/plotters.py
Owners: @groudier

remove print statement
  excalibur/ariel/metallicity.py
Owners: @nasa-jpl-exoplanet/internal

pylint
  excalibur/ancillary/estimators.py
Owners: @nasa-jpl-exoplanet/internal

Update requirements.txt
  requirements.txt
Owners: @nasa-jpl-exoplanet/internal

Update .env
  .docker/.env
Owners: @nasa-jpl-exoplanet/admin

Update requirements.txt (#200)
  .docker/.env
  requirements.txt
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

hmm binding wasnt updated. strange
  excalibur/runtime/binding.py
Owners: @nasa-jpl-exoplanet/internal

try again binding after merge main
  excalibur/runtime/binding.py
Owners: @nasa-jpl-exoplanet/internal

autogen update
  excalibur/runtime/binding.py
Owners: @nasa-jpl-exoplanet/internal

ok finally got autogen right
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
Owners: @nasa-jpl-exoplanet/internal

more cleanup (#194)
  excalibur/ancillary/core.py
  excalibur/ancillary/estimators.py
  excalibur/ariel/algorithms.py
  excalibur/ariel/core.py
  excalibur/ariel/metallicity.py
  excalibur/cerberus/plotters.py
  excalibur/runtime/autogen.md5
  excalibur/runtime/binding.py
  excalibur/runtime/core.py
  excalibur/runtime/levers.xsd
  excalibur/runtime/states.py
  excalibur/selftest/algorithms.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

make ancillary histo robust to missing keys
  excalibur/system/core.py
Owners: @nasa-jpl-exoplanet/internal

3 new targets in JWST list
  excalibur/target/targetlists.py
Owners: @nasa-jpl-exoplanet/internal

special case for profiling that removes everything
  excalibur/cerberus/bounds.py
  excalibur/cerberus/core.py
Owners: @groudier

formatting
  excalibur/cerberus/core.py
Owners: @groudier

Interaction data.cal end transit.norm
  excalibur/data/core.py
  excalibur/transit/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

CIs
  excalibur/data/core.py
  excalibur/transit/core.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

Issue 79: cause the pipeline to stroke (#188)
  .docker/.env
  requirements.txt
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin, @nasa-jpl-exoplanet/internal

Update stroke.py (#191)
  tools/stroke.py
Owners: @nasa-jpl-exoplanet/admin

clean up previous PR (#187)
  excalibur/ancillary/core.py
  excalibur/ancillary/estimators.py
  excalibur/ariel/algorithms.py
  excalibur/ariel/core.py
  excalibur/cerberus/core.py
  excalibur/cerberus/forward_model.py
  excalibur/cerberus/plotters.py
  excalibur/selftest/algorithms.py
  excalibur/util/tensor.py
Owners: @nasa-jpl-exoplanet/internal, @groudier

.github/CODEOWNERS:

* @nasa-jpl-exoplanet/internal
/excalibur/cerberus @groudier
/excalbur/data @groudier
/excalibur/transit @groudier
/.docker @nasa-jpl-exoplanet/admin
/.github @nasa-jpl-exoplanet/admin
/setup.py @nasa-jpl-exoplanet/admin
/test/test_01.py @nasa-jpl-exoplanet/admin
/tools @nasa-jpl-exoplanet/admin
